.back_body {
	background-color: #fff;
	margin:0;
	padding:0;
	background:url(images/bg.jpg) center repeat;
}

.report_link {
	background: #dfab3e;
font-weight: bold;
text-transform: uppercase;
float: left;
cursor: pointer;
color: #222 !important;
border: 1px solid #333333;
padding: 6px 12px;
margin: 0;
font-family: calibri, calibriregular, arial;
display: block;
font-size: 0.8125em;
text-decoration: none;
position: relative;
top: 10px;
}

.errorTitle
{
	color:#EDE609;
	text-align:center;
}

.errorMessage
{
	font-family:@Arial Unicode MS;
	font-size:18px;
	font-weight:bold;
	color:#E3E3DE;
}

.errorCode
{
	color:Gray;
	text-align:center;
	font-size:10px;
}

.redirectLink
{
	
}

.game_name
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	padding:12px 20px 0 0 !important;
}

.games_list_div
{
	text-align:center;
}

.games_table
{
padding-top: 30px;

}


.game_name a img {
width: 180px;
}

.internet_message
{
	font-size:14px;
	font-style:italic;
	text-align:center;
	color:Black;
	font-family:@Arial Unicode MS;
	margin-top: 20px;
	margin-bottom: 20px;
	display:none;
}

.flashDiv
{
	text-align:center;
	margin-top: 20px;
}


/*Nuevo estilo page error*/


.BackButtonErrorPage 
{
    background-image: url('images/back.png');
    height:32px;
    width:84px;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-border-radius: 75px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 75px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    text-align:center;
    text-shadow: 0 1px 1px white;
}

.BackButtonErrorPage:hover
{
    color: #333333;
    background-image: url('images/backHover.png');
    box-shadow: 2px 2px 5px #6b6b6b;
    height:32px;
    width:84px;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-border-radius: 75px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 75px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   /* box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
    text-align:center;
    text-shadow: 0 1px 1px white;
}  
