<div class="module">
  <h5>Balance:</h5>
  <div id="balance">
      <p>RD$<%= number_with_delimiter @current_user_funds %></p>
      <%= link_to t('views.deposit'), deposit_path, id: 'deposit' %>
      <%= link_to t('views.withdraw'), withdraw_path,id: 'withdraw' %>
  </div>
</div>