<div class="module">
  <h5>Balance:</h5>
  <div id="balance">
      <p>RD$<%= number_with_delimiter @current_user_funds %></p>
      <%= link_to t('views.cashier'), cashier_path, id: 'cashier' %>
  </div>
</div>