
<% if @current_user %>
    <iframe id="lottery_frame" src="https://lottery.lafunda.com.do/Lottery/Start?key=664cf843-8904-4212-9503-d4733651f519&token=<%= session[:user_token] %>&language=es-DO&boxph=0.00&strph=0.00&css=//lafunda.com.do/lotto/lottery.css&defstramt=&defboxamt=&hndt=nameonly&nf=C2&betnf=N2" width="100%" scrolling="no"></iframe>
<% else %>
    <%= render 'blocked' %>
<% end %>

<% content_for :modules do %>
    <div class="module">
        <h5><%= t('views.results')%></h5>
        <iframe id="lottery_results_frame" src="https://lottery.lafunda.com.do/Lottery/WinningNumbers?key=664cf843-8904-4212-9503-d4733651f519&language=es-DO&css=//lafunda.com.do/lotto/lottery.css" width="100%" seamless="seamless"></iframe>
    </div>

<% end %>