<h1><%= t('views.cashier')%></h1>

<iframe src="http://cashier.lafunda.com.do/Pages/frmLogin.aspx?CustPIN=<%= @current_user.username %>&Password=<%= session[:user_token] %>&Language=ES" width="100%" height="500"></iframe>


<% content_for :modules do %>
    <%= render 'users/balance' %>
<% end %>