<h1><%= t('devise.confirmations.pending_confirmation') %></h1>

<p><%= t('devise.confirmations.please_confirm') %></p>

<p><%= link_to t('views.click_here'), new_user_confirmation_url %> <%= t('devise.confirmations.wish_to_resend') %></p>



