<h1>Pending confirmation</h1>

<p>Please confirm your email address by clicking on the link that was emailed to you.</p>

<p><%= link_to "Click here", new_user_confirmation_url %> if you wish to resend the confirmation email.</p>



