
   <h1>Preguntas Frecuentes</h1>


<h2>Instrucciones</h2>


<div class="accordion">
    <h4>¿Cómo registro un nuevo usuario?</h4>
    <div>
        <p>Debes hacer clic en <em>Regístrate</em> en el panel superior.</p>
    </div>

    <h4>¿He olvidado mi usuario y/o contraseña, como puedo recuperar la información?</h4>
    <div>
        <p>Para recuperar tu nombre de usuario y/o contraseña, debes hacer click en <em>Olvidé mi Contraseña</em> y escribir en el campo correspondiente el correo electrónico que se introdujo durante el
      proceso de registro. El nombre de usuario y las instrucciones de como reiniciar la contraseña te serán enviadas a este correo electrónico. Si al transcurrir cinco (5) minutos no has recibido la
      información, por favor verifica tu buzón de “correo no deseado”. Para mayor asistencia, favor contacta a servicioalcliente@lafunda.com.do</p>
    </div>

    <h4>¿Cómo cambio mi contraseña?</h4>
    <div>
        <p>Al momento de ingresar en LAFUNDA.COM.DO, ingresa a tu cuenta y haz clic en "Mi Cuenta", luego en “Editar Cuenta” y elige una contraseña con igual o mayor de 6 caracteres.</p>
    </div>

    <h4>¿Cómo cancelo mi cuenta?</h4>
    <div>
        <p>Debes comunicarte con nosotros para inactivar o cancelar tu cuenta.</p>
    </div>
</div>

    <h2>Métodos de Depósitos y Retiros</h2>

<div class="accordion">
    <h4>¿Cómo puedo hacer un depósito?</h4>
    <div>
        <p>Ofrecemos cómodas y distintas formas de depósito gratis, de manera fácil, confiable y segura. Incluyendo:</p>
        <ul>
            <li>Tarjetas de crédito</li>
            <li>Transferencias bancarias</li>
            <li>Estafetas de Pago</li>
         </ul>
    </div>

    <h4>¿Cuales son los límites de depósitos?</h4>
    <div>
        <p>Los límites de depósitos son los siguientes:</p>
        <ul>
          <li>Tarjeta de Crédito y Débito: RD$500.00 a RD$200,000.00 por día.</li>
          <li>Estafeta de Pago: RD$5.00 a RD$2,500.00 por día.</li>
        </ul>
    </div>

    <h4>¿Existen cargos por depósitos?</h4>
    <div>
        <p>No le generamos cargos al realizar sus depósitos.</p>
    </div>

    <h4>¿Cómo actualizo mi información en la cuenta?</h4>
    <div>
        <p>Después de iniciar sesión, debe presionar la opción de CAJERO y luego la de EDITAR CUENTA. En la misma podrá realizar las modificaciones que quiera de su perfil, incluyendo cambio de
        contraseña.Para cualquier otra modificación de información personal no encontrada en su perfil, debe de enviar vía correo electrónico support@LaFunda.com los documentos pertinentes para
        fines de su seguridad.</p>
    </div>

    <h4>¿Cómo retirar desde La Funda.com.do?</h4>
    <div>
        <p>Debe de transferir la ganancia que se reflejará en su cuenta de Casino a su cuenta de Jugador.Luego diríjase hacer sus retiros en farmacias con accesos a Todo Pago, llenando previamente
        en la opción de RETIRO las casillas correspondientes. Es muy importante que todos los datos estén correctamente completados y no tomamos ninguna responsabilidad en la información
        digitada incorrectamente y colocar el número de sucursal en el campo de dirección.

        <p>Hasta el momento ésta es la única opción que le ofrece La Funda.com.do para retirar, próximamente estaremos ofreciendo otras alternativas de retiros.</p>
    </div>

    <h4>¿Límites de retiros?</h4>
    <div>
        <p>Los límites de retiro de RD$1.00 a RD$10,000.00 tienen un tiempo de procesamiento de 12 horas. Más de RD$10,000 pesos tienen un tiempo de procesamiento de 24 a 48 horas.</p>
    </div>

    <h4>¿Mis detalles personales y documentación enviada están seguros en LAFUNDA.COM.DO?</h4>
    <div>
        <p>Una de las prioridades más altas de LAFUNDA.COM.DO es la seguridad. Hemos realizado inversiones cuantiosas para proporcionar la mayor seguridad e integridad para toda la información
        (incluyendo detalles de tarjeta de crédito) que pasa desde y para nuestros servidores (Nacionales e Internacionales). Estas precauciones previenen accesos a terceros. Nosotros NUNCA
        compartiremos su información personal sin su consentimiento excepto si es requerido por la ley dominicana, interpol o en el caso de alguna violación a los Términos y Condiciones de la
        FUNDA.COM.DO</p>
    </div>
</div>

    <h2>Promociones & Bonos</h2>

<div class="accordion">
    <h4>¿Cómo reclamar el bono por registrarme por primera vez?</h4>
    <div>
        <p>Luego de activar su cuenta de La Funda.com.do vía su correo electrónico, automáticamente en Casino le aparecerá el bono por registro de RD$2,000.00</p>
    </div>

    <h4>¿Cómo reclamar el bono DE 100% de mi primer depósito?</h4>
    <div>
        <p>Después de realizar su primer depósito en La Funda.com.do, debe de presionar la opción de CAJERO y luego la opción de BALANCES Y TRANSFERENCIAS, en la casilla de Código de Bono
        poner la palabra CASINO y automáticamente obtendrá el bono del 100% de lo depositado por primera vez.</p>
    </div>
</div>

    <h2>Informaciones técnicas sobre los juegos, software, reglas y otras características.</h2>

<div class="accordion">
    <h4>¿Cuáles son los requerimientos mínimos del sistema de computadora para jugar con LAFUNDA?</h4>
    <div>
        <p>1 GHz Pentium processor, 512 MB Memory, 4 MB Gráficos card, 20 GB de disco duro, Sound card, Windows 2000, Internet Explorer versión 7, Flash 8.</p>
    </div>

    <h4>¿Qué pasa si pierdo conexión durante el juego?</h4>
    <div>
        <p>Todas las aplicaciones y/o juegos en LAFUNDA.COM.DO tienen lugar en nuestros servidores seguros, por lo tanto la pérdida de conexión o cualquier otro daño a su equipo no va a afectar el
        resultado del juego. Si pierdes la conexión durante un juego que requiere una acción adicional, este se reanudará cuando se vuelva a conectar. En caso de que se esté jugando una mano, el proceso
        concluirá normalmente en nuestro servidor y el resultado se mostrará cuando usted se vuelva a conectar.</p>
    </div>

    <h4>¿Como estoy seguro de que las cartas están siendo repartidas justamente y el resultado es aleatorio?</h4>
    <div>
        <p>Nuestro software de Casino cumple y excede las normas establecidas por los reguladores de juego en línea. Tain Online Gaming Platforms & Cake Poker.</p>
    </div>

    <h4>¿Qué es GNA - Generación de Números Aleatorios (Random Number Generator, RNG)?</h4>
    <div>
        <p>Generación de Números Aleatorios (GNA) es el componente (basado en el software, hardware o una combinación de ambos) utilizado para la generación de números que se asignan para los
        resultados finales del juego.</p>
    </div>

    <h4>¿Cómo puedo asegurarme de que mis correos electrónicos no sean bloqueados?</h4>
    <div>
        <p>Agregue las direcciones de la funda.com.do a la bandeja de entrada, para que el buzón de correos no deseados interfiera en la comunicación con nuestra página.</p>
    </div>
</div>
