<h1>Políticas de Privacidad</h1>


<h2>Uso de nuestra página Web</h2>
<p>Al utilizar nuestra página, aceptas automáticamente las políticas de privacidad establecidas. Revisaremos las políticas de privacidad periódicamente y nos reservamos el derecho de modificarlas y actualizarlas en cualquier momento.</p>

<h2>Notificaciones de cambio</h2>
<p>Los cambios a las políticas de privacidad se harán efectivas inmediatamente se muestren en la página. El uso seguido y continuo de la página constituye la aceptación de dichos cambios. Recomendamos revisar las políticas de privacidad periódicamente.</p>

<h2>Solicitud de informaciones personales</h2>
<p>Está invitado a navegar en nuestra página sin tener que proveernos tu información personal. Si desea ser miembro, abrir una cuenta, depositar fondos, hacer una apuesta o retirar fondos necesitará proveernos de ciertas informaciones personales. Esto es requerido con el propósito de identificarle para su propia seguridad, mantenimiento de su cuenta y proveerle nuestro servicio. Algunos ejemplos de informaciones personales que pudiéramos solicitar incluirían, pero no se limitan a nombre, fecha de nacimiento, correo electrónico y número de teléfono. Nosotros debemos recaudar informaciones personales de terceras partes como instituciones financieras y proveedores de créditos con el propósito de mantener su cuenta, conducta de crédito o algún otro seguimiento financiero. Al usar nuestros servicios usted otorga consentimiento al uso de informaciones personales para estos propósitos.</p>

<h2>Seguridad de datos</h2>
<p>Tomamos todas las medidas razonables para asegurarnos de que las informaciones personales que recaudamos estén debidamente custodiadas y seguras. A nuestros empleados, agentes y contratistas se les exige mantener confidencialidad con todas las informaciones personales. Todas las informaciones personales serán destruidas cuando no sean requeridas su conservación. Nosotros no garantizamos la seguridad de ninguna información que se nos envíe por internet. Cualquier información que nos envíe por esta vía es bajo su propio riesgo. Sin embargo, tan pronto recibamos las informaciones tomaremos las medidas necesarias para proteger sus datos personales de malos usos, pérdidas o accesos no autorizados. Nosotros no facilitamos, vendemos, rentamos y/o compartimos las informaciones personales a terceros para propósitos de mercadeo.</p>

<p>Las informaciones personales que nos proveen pueden ser divulgadas a terceros por las siguientes razones:</p>

<ul class="list">
  <li>Para proveerle con cualquier servicio que requiera o conocer el propósito por el cual se solicita.</li>
  <li>Si previamente le informamos al momento de recaudar la información que se divulgaría a terceros.</li>
  <li>Si la divulgación es requerida o permitida por la ley.</li>
  <li>Si es necesario cooperar con algún proceso judicial o con agencias de orden público.</li>
  <li>Si es necesario proteger y defender los derechos de la página (o alguna página relacionada) como se describe arriba.</li>
  <li>Si se necesita en conexión con una investigación de mala conducta o irregularidades.</li>
</ul>

<h2>Transmisión a los organismos deportivos</h2>
<p>En el interés de proteger y mantener la integridad de algunos deportes, La Funda puede entrar en acuerdos con instituciones gubernamentales, reguladoras, deportivas o alguna otra autorización responsabilizándose por la administración de un juego en específico. Bajo estos acuerdos, La Funda puede proveer las informaciones personales relevantes del cliente e informaciones acerca de sus actividades de apuestas donde hay motivos razonables para sospechar del cliente, estas pueden ser:</p>

<ul>
  <li>Envolverse en algún incumplimiento de las reglas o leyes de juegos.</li>
  <li>Tener conocimiento de algún incumplimiento a las leyes o reglas.</li>
  <li>Representar una amenaza para la integridad de los deportes y juegos.</li>
</ul>

<h2>Consentimiento de divulgación</h2>
<p>Eligiendo proveer su información personal aceptará el uso y la transmisión de su información personal para los propósitos descritos arriba. Tomaremos todas las medidas necesarias para asegurarnos de que cualquier información personal que facilitemos a terceros esté protegida de acuerdo a nuestras normas de privacidad.</p>

<h2>Cookies </h2>
<p>Aparte de las informaciones personales recaudadas para proveerle el servicio a usted, recolectamos informaciones anónimas bajo el uso de varias tecnologías, incluyendo “cookies”. Un cookie es un elemento de datos que la página puede enviar a su navegador, que luego se almacenará en su disco duro. Puede controlar el uso de este configurando el navegador para que le notifique cuando reciba uno, dándole la oportunidad de aceptarlo o rechazarlo. Cada vez que visite la página un cookie se emitirá y guardara record del uso de la página. Cada vez que se registre en su cuenta o servicio de la página, nuestro servidor emitirá un cookie para comprobar que es el propietario de la cuenta. Este cookie expirará después de un período de inactividad suya y tendrá que registrarse nuevamente. Luego que esté registrado en su cuenta, informaciones especificadas o agregadas serán recaudadas para propósitos de seguridad. Por ejemplo nuestro servidor reconoce su dirección de IP y las páginas que visite dentro de nuestro dominio.</p>

<h2>Detalle de Contactos</h2>
<p>Si tiene alguna consulta o queja relacionada al manejo de su información personal, por favor contacte nuestro departamento de Servicio al Cliente.</p>
