<h1><%= t('views.promotions')%></h1>


<h2>Bono de Bienvenida</h2>
<h4>Términos y Condiciones</h4>
<ol>
  <li>Esta promoción solo aplica para apuestas deportivas.</li>
  <li>El bono por registro en la página tiene un valor de RD$500.00.</li>
  <li>Este bono se aplicará en un lapso no mayor a las 48 horas laborables después del registro, sin perjuicio para La Funda de no hacerse en el tiempo estipulado.</li>
  <li>Los clientes deberán mover el bono por lo menos 10 veces para poder retirar el 60% del movimiento. (Si se le aplica un bono de RD$500.00 deberá realizar movimientos por un valor de RD$5,000.00 para poder retirar hasta RD$3,000.00)</li>
  <li>Este bono será aplicado una sola vez.</li>
  <li>Este bono no puede ser mezclado con otras promociones.</li>
  <li>Los premios no son reembolsables ni transferibles.</li>
  <li>Los jugadores no podrán tener o usar más de una cuenta (incluyendo de terceros) so pena de prohibirles volver a participar de nuestras promociones. Nos reservamos el derecho de tomar cualquier otra medida que consideremos pertinente.</li>
  <li>Cualquier retiro de las ganancias conseguidas con el bono aplicado estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los ganadores aceptarán que sus usuarios, sus citas escritas, habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar en cualquier momento las condiciones de las mismas.</li>
  <li>El cliente deberá llenar de manera correcta el formulario al momento de registrarse en la página, si el cliente coloca un número incorrecto de su documento de identidad y resulta ganador, o si los números de documentos no son iguales el cliente no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Este bono es válido para su uso y retiro del premio por 30 días calendario después de aplicado.
  <li>Los términos y condiciones generales rigen este bono.
</ol>


<h2>Bono Referido</h2>
<h4>Terminos y condiciones</h4>
<ol>
  <li>Esta promoción premia a nuestros jugadores con el 10% del primer depósito de cada nuevo jugador que se registre en La Funda referidos por ellos.</li>
  <li>Este bono se aplicará en un lapso no mayor a las 48 horas laborables después del primer depósito del jugador referido, sin perjuicio para La Funda de no hacerse en el tiempo estipulado.</li>
  <li>Al momento de registrarse el jugador referido debe de indicar el usuario o email del jugador referente en el campo correspondiente del formulario de registro. Una vez registrado el jugador referido no puede solicitar cambios a dicho campo aunque lo haya dejado en blanco.</li>
  <li>Esta promoción no está atada a los términos o condiciones del resto de nuestras promociones.</li>
  <li>El jugador referente podrá retirar o jugar el balance del bono como dinero real.</li>
  <li>No existe un límite de nuevos jugadores que se puedan referir.</li>
  <li>Los premios no son reembolsables ni transferibles.</li>
  <li>Los jugadores no podrán tener o usar más de una cuenta (incluyendo de terceros) so pena de prohibirles volver a participar de nuestras promociones. Nos reservamos el derecho de tomar cualquier otra medida que consideremos pertinente.</li>
  <li>Cualquier retiro de las ganancias conseguidas con el bono aplicado estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los jugadores aceptarán que sus usuarios, sus citas escritas, habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar en cualquier momento las condiciones de las mismas.</li>
  <li>El jugador deberá llenar de manera correcta el formulario al momento de registrarse en la página. Si el cliente coloca incorrectamente su documento de identidad no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Los términos y condiciones generales rigen este bono.</li>
</ol>


<h2>Bono Duplica Tu Depósito</h2>
<h4>Términos y Condiciones</h4>
<ol>
  <li>Esta promoción solo aplica para apuestas deportivas.</li>
  <li>Este bono deberá ser solicitado a través de Servicio al Cliente.</li>
  <li>La promoción solo puede ser reclamada una vez.</li>
  <li>El depósito y dinero del bono deberá ser apostado un mínimo de 15 veces antes de que pueda ser retirado.</li>
  <li>Para calificar debe depositar un mínimo de RD$500.00 y un máximo de RD$5,000.</li>
  <li>El monto máximo que puede reclamar con este bono es de RD$10,000.00. Una vez reclamado el premio cualquier balance generado por el bono quedará en cero.</li>
  <li>Este bono no puede ser mezclado con otras promociones.</li>
  <li>Los premios no son reembolsables ni transferibles.</li>
  <li>Los jugadores no podrán tener o usar más de una cuenta (incluyendo de terceros) so pena de prohibirles volver a participar de nuestras promociones. Nos reservamos el derecho de tomar cualquier otra medida que consideremos pertinente.</li>
  <li>Cualquier retiro de las ganancias conseguidas con el bono aplicado estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los ganadores aceptarán que sus usuarios, sus citas escritas, habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar en cualquier momento las condiciones de las mismas.</li>
  <li>El jugador deberá llenar de manera correcta el formulario al momento de registrarse en la página. Si el cliente coloca incorrectamente su documento de identidad no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Este bono es válido para su uso y retiro del premio por 30 días calendario después de aplicado.</li>
  <li>Los términos y condiciones generales rigen esta promoción.</li>
</ol>


<h2>Hipismo</h2>
<h4>Términos y Condiciones</h4>
<ol>
  <li>Esta promoción solo aplica para apuestas de hipismo.</li>
  <li>El hipismo tendrá un descuento en las pérdidas de un 10%.</li>
  <li>Esta promoción no está atada a los términos o condiciones del resto de nuestras promociones.</li>
  <li>Cualquier retiro de las ganancias conseguidas estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los beneficiados de este descuento aceptarán que sus usuarios, sus citas escritas, habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar en cualquier momento las condiciones de las mismas.</li>
  <li>El jugador deberá llenar de manera correcta el formulario al momento de registrarse en la página. Si el cliente coloca incorrectamente su documento de identidad no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Los términos y condiciones generales rigen esta promoción.</li>
</ol>
