<h1><%= t('views.promotions')%></h1>


<h4>Términos y Condiciones Bono Duplica Tu Depósito</h4>

<ol>
  <li>El bono Duplica Tu Depósito deberá ser solicitado a través de Servicio al Cliente.</li>
  <li>El depósito y dinero del bono deberá ser apostado un mínimo de 15 veces antes de que pueda ser retirado.</li>
  <li>La promoción solo puede ser reclamada una vez.</li>
  <li>Para calificar para este bono debe depositar un mínimo de RD$1,000.00</li>
  <li>El máximo del Bono Duplica Tu Depósito que puede reclamar es RD$10,000.00</li>
  <li>Jugar en la lotería no cuenta para el cumplimiento de las condiciones del bono.</li>
  <li>Este bono no puede ser mezclado con otras promociones.</li>
  <li>Cualquier jugador al que se descubra intentando entrar a la página con más de una cuenta, no podrá participar en las promociones de La funda.com</li>
  <li>Cualquier retiro de las ganancias conseguidas con el bono aplicado estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los ganadores aceptarán que sus usuarios, sus citas escritas y/o habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar sus condiciones en cualquier momento, sin previo aviso.</li>
  <li>El cliente deberá llenar de manera correcta el formulario al momento de registrarse en la página, si el cliente pone un número incorrecto de su documento de identidad y resulta ganador, o si los números de documentos no son iguales el cliente no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Los términos y condiciones generales rigen esta promoción.</li>

</ol>





<h4>Términos y Condiciones Bono Deportivo</h4>


<ol>
  <li>Esta promoción solo aplica para las apuestas deportivas.</li>
  <li>El bono por registro tiene un valor de RD$500.00</li>
  <li>Los premios no son reembolsables ni transferibles.</li>
  <li>Cualquier retiro de las ganancias conseguidas con el bono aplicado estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los ganadores aceptarán que sus usuarios, sus citas escritas y/o habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar sus condiciones en cualquier momento, sin previo aviso.</li>
  <li>Los clientes deberán mover el bono por lo menos 10 veces para poder retirar el 60% del movimiento. (Si se le aplica un bono de RD$500.00 deberá realizar movimientos por un valor de RD$5,000.00 para poder retirar hasta RD$3,000.00)</li>
  <li>El bono será aplicado en un lapso no mayor a las 48 horas laborables después del registro.</li>
  <li>El bono tendrá una vigencia de 30 días calendario.</li>
  <li>El cliente deberá llenar de manera correcta el formulario al momento de registrarse en la página, si el cliente pone un número incorrecto de su documento de identidad y resulta ganador, o si los números de documentos no son iguales el cliente no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Los términos y condiciones generales rigen este bono.</li>
</ol>






<h4>Términos y Condiciones Hipismo</h4>


<ol>
  <li>Esta promoción solo aplica para las apuestas del Hipismo.</li>
  <li>El Hipismo tendrá un descuento en las pérdidas de un 10%.</li>
  <li>Cualquier retiro de cualquiera de las ganancias conseguidas estará sujeto al procedimiento estándar de retiros de La Funda.</li>
  <li>Los ganadores aceptarán que sus usuarios, sus citas escritas y/o habladas, y/o cantidades ganadas puedan ser utilizados para fines promocionales.</li>
  <li>La Funda se reserva el derecho a interrumpir sus promociones, o de cambiar sus condiciones en cualquier momento.</li>
  <li>El cliente deberá llenar de manera correcta el formulario al momento de registrarse en la página, si el cliente pone un número incorrecto de su documento de identidad y resulta ganador, o si los números de documentos no son iguales el cliente no podrá retirar las ganancias obtenidas producto de las apuestas realizadas.</li>
  <li>Los términos y condiciones generales rigen esta promoción.</li>
</ol>
