<h1><%= t('views.responsible_gaming') %></h1>

<h4>¿Siente que juega mucho?</h4>
<p>
  La Funda entiende que lo que para algunos clientes es divertido y rentable, es para otros adictivo y costoso.
  Nosotros estamos aquí para entretenerle y si ese entretenimiento se vuelve una adicción nuestro departamento de Servicio al Cliente tiene las herramientas para ayudarle a limitar el juego.
  Otra opción más definitiva es pedirnos cerrar su cuenta de juego. Lo haremos sin hacer preguntas, ya que entendemos que es una decisión difícil de tomar.
</p>

<h4>¿Tiene algún amigo que juega más de lo que debería?</h4>
<p>¿Está preocupado por un amigo o familiar cercano con problemas de juego? Contáctenos y le facilitaremos los datos de organizaciones que podrían ayudarle.</p>


<h4>¿Preocupado de que sus hijos puedan accesar la página?</h4>
<p>Está preocupado de que sus hijos puedan acceder a la página? Existen programas que puede utilizar con el propósito de monitorear que hacen sus hijos en línea. Dos ejemplos son: NetNanny y Cyber Patrol. Estaremos en la mejor disposición de ayudarle a través de nuestro departamento de Servicio al Cliente.</p>

<h4>18+</h4>
<p>Es ilegal para cualquier persona menor de 18 años crear una cuenta o jugar en LaFunda.com.do. La compañía se reserva los derechos de solicitar pruebas que demuestren la edad de los clientes y puede suspender las cuentas hasta tanto verificar las informaciones recibidas.</p>


