<h1><%= t('views.responsible_gaming') %></h1>

<p><strong>¿Siente que juega mucho?</strong> LaFunda.com.do entiende que lo que para algunos clientes es divertido ,rentable y para otros es adictivo y costoso.
  Nosotros estamos aquí para entretenerte y si ese entretenimiento se vuelve una adicción entonces nosotros tenemos las herramientas para ayudarte a limitarle el juego.</p>

<p><strong>¡Nosotros le ayudamos a crear los limites! </strong>  Siente que juega mucho, contáctenos a servicioalcliente@kinbar.com.do y déjenos cerrar su cuenta de juego por usted.
  Lo hacemos sin hacer preguntas, ya que entendemos que es una decisión difícil de tomar.</p>

<p><strong>¿Preocupado si sus hijos accesan a la página?</strong></p>

<p>Está preocupado por si sus hijos puedan acceder a la página? Existe un programa que puede utilizar con el propósito de monitorear que hacen tus hijos en línea.
  Dos ejemplos son: <a href="http://cdnbetngo.emgidy.com/wp-content/uploads/www.netnanny.com" target="_blank">NetNanny</a> y
  <a href="http://www.cyberpatrol.com/%22" target="_blank">Cyber Patrol</a>. Estaremos muy agradecidos de ayudarle si nos contacta a servicioalcliente@kinbar.com.do</p>

<p><strong>18+</strong><br /> Es ilegal para cualquier persona menor de 18 años crear una cuenta o jugar con Lafunda.com.do,
  La compañía se reserva los derechos de solicitar pruebas que demuestren la edad de los clientes y puede suspender las cuentas hasta tanto verificar las informaciones recibidas.</p>

<p><b>Tiene algún amigo que juega más de lo que debería? </b><strong></strong></p>

<p>Está preocupado por un amigo o familiar cercano con problemas de juego?</p>

<p>Contáctenos, podemos facilitarte contactos de organizaciones que podrían ayudarle.</p>