<h1><%= t('views.terms_and_conditions') %></h1>


<h2>¡Bienvenido a La Funda!</h2>

<p>Para hacer una apuesta con dinero real necesitará crear una cuenta con nosotros. Al hacerlo usted está aceptando todos los términos y condiciones de nuestra página web.</p>

<h4>Introducción:</h4>

<p>La Funda es un producto de Kinbar International SRL, empresa localizada en la Av. Gustavo Mejía Ricart #94, Santo Domingo, República Dominicana. El número de registro nacional de contribuyentes (RNC) de la empresa es 130882878.</p>

<h2>1. Leyes de gobierno</h2>
    <ul>
        <li>1.1. Este acuerdo está regido por las leyes de la República Dominicana.</li>
        <li>1.2. Las cortes de República Dominicana tienen jurisdicción exclusiva.</li>
    </ul>

<h2>2. Acuerdo</h2>
    <ul>
        <li>2.1. Al aceptar estos términos y condiciones, el cliente está obligado en la totalidad de este acuerdo, y por nuestras “reglas” y “políticas de privacidad” que están incorporadas como referencias en los términos y condiciones. Si existe alguna inconsistencia entre estos términos, condiciones y algún otro documento incorporado como referencia, estos términos y condiciones prevalecerán.</li>
        <li>2.2. Si cambiamos estos términos y condiciones podríamos tomar las medidas apropiadas para informárselo al cliente, pero responsabilidad absoluta del cliente revisar cualquier enmienda, actualización o modificación de estos términos y condiciones. Los cambios de términos y condiciones se entenderán como aceptados por parte del cliente al continuar este con el uso de los servicios de la página.</li>
        <li>2.3. Si no está de acuerdo con algunos de los términos y condiciones, por favor no intente registrarse en La Funda.</li>
    </ul>

<h2>3. Declaraciones vinculantes</h2>
<p>Aceptando estos términos y condiciones garantiza que:</p>
    <ul>
        <li>3.1. Tiene por lo menos 18 años de edad.</li>
        <li>3.2. Puede entrar en un acuerdo de vinculación legal con nosotros y no está restringido a capacidades legales limitadas.</li>
        <li>3.3. Entiende que usando nuestros servicios puede perder dinero en juegos de azar y acepta que es totalmente responsable de cualquier pérdida.</li>
        <li>3.4. No usará nuestros servicios mientras esté ubicado en alguna jurisdicción donde participar en juegos de azar esté prohibido.</li>
        <li>3.5. Si paga con tarjeta de crédito o débito debe ser el usurario autorizado de la misma.</li>
        <li>3.6. Está permitido en la jurisdicción donde está localizado participar en juegos de azar en línea.</li>
        <li>3.7. No depositará dinero originado por actividades criminales, ilegales o no autorizadas ni intentará utilizar su cuenta creada con nosotros en dichas actividades. No deberá usar o permitir que otras personas utilicen el servicio provisto por nosotros y su cuenta de apuestas para cualquier actividad criminal, ilegal incluyendo, sin limitaciones, lavado de dinero, bajo ninguna ley aplicable a usted o nosotros.</li>
        <li>3.8. Usted no utilizará ningún dispositivo, robots, arañas, software, rutina u otro método (o nada en la naturaleza de los anteriores) para interferir o intentar interferir con el normal funcionamiento de nuestros servicios, cualquier dispositivo correspondiente al software, este sitio web, la información o las transacciones que se ofrecen en este sitio web y en particular a no emplear o hacer uso de una inteligencia artificial u otro sistema (incluidas las máquinas, computadoras, software u otros sistemas automatizados) diseñado específicamente para derrotar el sistema y no conspirar o intentar conspirar con otros jugadores con el fin de defraudar a La Funda o sus clientes registrados.</li>
        <li>3.9. Usted es un oficial, director, empleado, consultor, afiliado, agente de La Funda o trabaja para alguna empresa relacionada con La Funda, pariente o vive con alguno de los anteriores.</li>
        <li>3.10. No está diagnosticado o clasificado como un jugador compulsivo, problemático o no se considera como uno.</li>
    </ul>

<h2>4. Privacidad</h2>
    <ul>
      <li>4.1. Las informaciones que envíe serán guardadas de manera confidencial y de otra manera procesadas de acuerdo con nuestra política de privacidad.</li>
      <li>4.2. Aceptando estos términos y condiciones, acepta haber leído nuestra política de privacidad (ver más abajo).</li>
    </ul>


<h2>5. Cuentas/métodos de pagos</h2>
<h4>5.1. Su cuenta</h4>

    <ul>
        <li>5.1.1. Antes de jugar en La Funda, requerimos que se registre primero con nosotros.</li>
        <li>5.1.2. Nosotros no deseamos y no estamos obligados a aceptar registros de personas residentes en jurisdicciones donde prohíben las apuestas de juegos en línea u otro tipo de juegos en línea.</li>
        <li>5.1.3. Usted acepta proveer información exacta de registro e informarnos sobre cualquier cambio en los detalles.</li>
        <li>5.1.4. Si los fondos a utilizar en su cuenta de La Funda provienen de una tarjeta de débito o crédito, acepta enviarnos las siguientes informaciones: copia de la tarjeta, dirección de facturación, número de tarjeta, fecha de expiración y código de seguridad, en caso de requerir dichas informaciones.</li>
        <li>5.1.5. Nos autoriza a utilizar cualquier medio que consideremos necesario para verificar su identidad y solvencia con cualquier tercero que nos provea información.</li>
        <li>5.1.6. El registro será realizado utilizando un servidor cifrado.</li>
        <li>5.1.7. Nos informará tan pronto esté consciente de cualquier error relacionado con su cuenta o cualquier cálculo con respecto a alguna apuesta que haya hecho. Nos reservamos el derecho de declarar nula la operación y evitar cualquier apuesta que sea la causante del error.</li>
        <li>5.1.8. La Funda reserva los derechos de aplicar un cargo del 5% por manejo de depósitos y retiros para cubrir los costos de transacciones. Los cargos de manejo variarán dependiendo del método de pago que se utilice.</li>
        <li>5.1.9.1. La Funda se reserva el derecho de suspender las cuentas de jugadores que tengan más de 12 meses inactivas. Si su cuenta ha sido inactivada debe contactar nuestro departamento de Servicio al Cliente para que le faciliten las instrucciones sobre como reactivar su cuenta.</li>
        <li>5.1.9.2. La Funda se reserva los derechos de aplicar una cuota mensual de RD$100.00 a las cuentas que han estado inactivas por más de 12 meses.</li>
        <li>5.1.9.3. El cliente no puede tener más de una cuenta con nosotros, ya sea a modo de titular o fungiendo como administrador de una cuenta de terceros.</li>
        <li>5.1.9.4. Si el cliente desea transferir su cuenta a otra persona jurídica debe de solicitarlo, y esperar si procede, la autorización al departamento de Servicio al Cliente.</li>
    </ul>

<h4>5.2. Seguridad</h4>

    <ul>
        <li>5.2.1. Al registrarse confirmaremos que la cuenta fue creada enviando un mensaje al correo electrónico que nos facilitó.</li>
        <li>5.2.2. En el registro vía la página web, se le solicitara elegir una contraseña para uso de la página web.</li>
        <li>5.2.3. Usted acepta mantener su usuario y contraseña de manera confidencial y es responsable de cualquier mal uso de su contraseña. Cualquier pérdida sufrida por vía de terceros utilizando dicha cuenta no será repuesta por nosotros y además deberá tener completa responsabilidad por el uso de sus datos de registro por terceros, además de eximirnos de los daños derivados por estas acciones.</li>
        <li>5.2.4. Acepta informarnos al menos una vez vía correo electrónico si cree que la información de su cuenta está siendo mal utilizada por terceros y considera que debemos suspender la misma.</li>
        <li>5.2.5. Recomendamos que inhabilite cualquier recordatorio automático de contraseña en la memoria de su navegador. Esto ayudará a limitar el riesgo de uso de su cuenta sin autorización.</li>
        <li>5.2.6. Nos reservamos el derecho de solicitar la validación de identidad de los jugadores.</li>
    </ul>

<h4>5.3. Cuentas /Métodos de pagos</h4>

    <ul>
        <li>5.3.1. Deberá depositar los fondos en su cuenta desde su tarjeta de crédito o débito. También puede realizarlo por transferencia bancaria directa a La Funda y utilizar una solución de cartera electrónica de dinero facilitada por La Funda. Todos los pagos serán convertidos en la moneda de uso que tenga en su cuenta de apuestas. Acepta que no hará o procurará que le realicen ningún cargo anterior, negar o reservar ningún pago, y que reembolsara a La Funda cualquier cargo anterior, negaciones o reversos de pagos incurridos por La Funda como una consecuencia del mismo. La Funda deberá, con nuestra única y absoluta discreción dejar de proveer servicios de pagos a ciertos usuarios, o a usuarios que pagan con ciertas tarjetas de crédito o débito.</li>
        <li>5.3.2. Aceptamos el pago con tarjetas de crédito. Cuando registre su tarjeta, sus detalles quedan cifrados y almacenados permanentemente en el servidor de seguridad de La Funda.</li>
        <li>5.3.3. Los detalles que necesitará para realizar sus pagos están disponibles en nuestra página web en “Mi cuenta” y en la página de “Depósitos”.</li>
        <li>5.3.4. Los depósitos incurrirán en ciertos cargos dependiendo el método que selecciones. Los depósitos realizados con tarjeta de crédito incurrirán en el cargo de un pequeño porcentaje en base al monto inicial del depósito para reflejar cargos impuestos por nuestro banco adquiriente. Los cargos impuestos a nosotros cambiarán de vez en cuando y reconoce que nosotros deberemos de revisar nuestros cargos para realizar dichos cambios. Su banco independientemente hará cargos a su cuenta por las transferencias bancarias.</li>
        <li>5.3.5. Si utiliza una tarjeta de crédito para realizar depósitos sus fondos estarán limpios cuando recibamos el código de aprobación y autorización. Si el emisor de su tarjeta no autoriza la transferencia de los fondos, su cuenta no será acreditada con dichos fondos.</li>
        <li>5.3.6. La Funda opera con una licencia otorgada por el gobierno de la República Dominicana.</li>
        <li>5.3.7. No extendemos crédito por el uso de nuestros servicios.</li>
        <li>5.3.8. La Funda no es una institución bancaria. No recibirá pagos de intereses o de cualquier balance pendiente en la cuenta. Cualquier interés, se acumulará en la empresa para el pago de gastos administrativos.</li>
        <li>5.3.9. Si su cuenta se sobregira con el duplicado de algún pago por error, como una solicitud de retiro que se realice doble por parte de nuestros asociados de pagos, acepta autorizar a La Funda para depositar más fondos en su cuenta desde tu tarjeta de crédito registrada. La Funda realizará todo el esfuerzo razonable en contactarle antes de realizar cualquier transacción de forma manual.</li>
        <li>5.3.10. Nos reservamos los derechos de deducir cualquier depósito de costo incurrido por los montos retirados, si dichos costos exceden las ganancias netas generadas por usted después de la fecha en que se originó el retiro del dinero.</li>
        <li>5.3.11. La Funda no acepta abusos en la diferencia del cambio diario de tarifas que podrían ocurrir durante un día de comercio. Los movimientos normales de dinero no deberán ser cuestionados, pero obviamente los abusos serán deducidos por las cuentas de los clientes.</li>
        <li>5.3.12. Los cálculos de la compañía de su balance de reserva, balance disponible y montos adeudados por usted bajo los términos y condiciones de este acuerdo serán terminados y en la falta de cualquier error manifestado, no será objeto de investigación o indagación.</li>
        <li>5.3.13. Nos reservamos el derecho de cerrar su cuenta y devolverle el balance disponible bajo nuestra absoluta discreción y sin ninguna condición de obligación o de previo aviso.</li>
        <li>5.3.14. Los retiros de dinero solo podrán realizarse en nuestros establecimientos autorizados o recibiendo electrónicamente depósitos a una cuenta propiedad del cliente. Los montos a retirar solo serán montos “Ganados”, es decir dinero obtenido luego de haber ganado en alguna jugada. No se permiten retiros de dinero depositado. En el caso de que el cliente no esté satisfecho con el funcionamiento de la página o algún juego nuestro, puede comunicarse con nuestro departamento de Servicio al Cliente y solicitar el retiro del dinero depositado. El caso será evaluado y la decisión tomada por la empresa es final.</li>
        <li>5.3.15. Los retiros podrán hacerse de inmediato por vía electrónica por un monto de hasta RD$10,000.00 por día. En caso de retiros a través de uno de nuestros establecimientos autorizados estos se reservan el derecho de pagar nuestro monto máximo según su política y/o disponibilidad de efectivo. El valor máximo de retiro por semana es de RD$70,000.00. Los retiros que excedan los RD$10,000.00 en una semana podrían requerir un proceso de verificación de 24-48 horas laborables antes de proceder con los mismos.</li>
    </ul>

<h4>5.4. Manejo cuenta de cliente</h4>

    <ul>
        <li>5.4.1. Todos los ganadores llevaran a cabo la confirmación de los resultados relevantes por medio a su cuenta de cliente.
        <li>5.4.2. Cualquier monto que sea acreditado erróneamente a su cuenta como ganador siendo esta propiedad de la empresa, será automáticamente transferido desde su cuenta tan pronto como el error sea detectado. Cualquier cargo erróneamente acreditado a su cuenta y retirado por usted constituirá una deuda de usted con nuestra empresa por el monto atribuido injustamente como ganador.</li>
        <li>5.4.3. Deberá retirar cualquier monto del balance disponible en su cuenta emitiéndonos una nota válida de retiro de la manera especificada en la cuenta de usuario en la página web.</li>
        <li>5.4.4. Deberá retirar fondos de su cuenta por transferencias bancarias directas, retiro en efectivo o por cheque si ofrecemos ese método al momento de realizar el retiro. Todos los pagos ser harán en Pesos Dominicanos.</li>
        <li>5.4.5. No aceptaremos solicitudes de retiros realizadas de otra manera que no sean las facilidades que proveemos en la página web “Mi cuenta”. Los empleados de la empresa no están autorizados a efectuar dichos pagos.</li>
        <li>5.4.6. Para reflejar los cargos impuestos a nosotros por el banco, hay un pequeño cargo por retiros vía cheque y transferencia bancaria directa. Los cargos impuestos a nosotros variarán de vez en cuando y deberá tener conocimiento de que debemos revisar nuestros cargos para reflejar los cambios.</li>
        <li>5.4.7. Pagos de impuestos, tasas, cargos o gravámenes que puedan aplicar a nuestros ganadores bajo las leyes que apliquen deberán ser de responsabilidad única de los clientes.</li>
        <li>5.4.8. Los ganadores de las apuestas colocadas están acreditados a su cuenta y deberán de retirar de acuerdo a nuestras políticas de retiro y si es requerido proveer una fotografía de identificación válida, prueba de dirección y número de tarjeta de crédito o débito para satisfacción nuestra.</li>
        <li>5.4.9. Todas las transacciones económicas serán supervisadas para prevenir el lavado de dinero. Cualquier actividad sospechosa será reportada a las autoridades de lugar.</li>
    </ul>


<h2>6. Bonos</h2>
    <ul>
        <li>6.1. La Funda se reserva el derecho de cancelar cualquier bono o programa de bonos (incluyendo pero no limitándose a depósitos de bonos, recarga de bonos y programas de lealtad) con efecto inmediato si entendemos que los bonos fueron emitidos incorrectamente o se está cometiendo abusos en el uso de los mismos, y si los bonos fueron pagados nos reservamos el derecho de declinar cualquier solicitud de retiro y a deducir el monto desde la cuenta del cliente. Si se considera que los bonos fueron configurados incorrectamente o abusivos es discreción única de La Funda.</li>
        <li>6.2. Nos reservamos el derecho de modificar en cualquier momento los términos y condiciones de cualquier oferta de bono. El cliente es responsable de mantenerse al tanto de cualquier cambio o modificación de dichos términos y condiciones.</li>
        <li>6.3. En caso de que decida utilizar un depósito de bono instantáneo, no se aceptaran retiros de su depósito original antes de haber concluidos los requerimientos establecidos para esos bonos. Esos bonos son emitidos con la intención de recompensar a esos jugadores que depositan dinero con la intención de jugar con La Funda, por tanto no aceptará que los jugadores hagan depósitos e inmediatamente retiren tan pronto como reciban los bonos de depósitos.</li>
        <li>6.4. Las apuestas para los juegos baccarat, blackjack, ruletas, dados, hipismo, apuestas deportivas y loterías no califican para bonos.</li>
    </ul>

<h2>7. Reglas generales de apuestas.</h2>
    <ul>
        <li>7.1. Una apuesta solo puede ser colocada por un jugador registrado.</li>
        <li>7.2. Una apuesta solo puede ser colocada vía internet o en centros autorizados por nosotros.</li>
        <li>7.3. Un jugador solo puede colocar una apuesta si tiene los fondos suficientes en su cuenta con La Funda.</li>
        <li>7.4. Una vez concluida la apuesta será administrada por la versión de términos y condiciones válida al momento en que la apuesta fue aprobada.</li>
        <li>7.5. El pago de la apuesta de un ganador será acreditado a la cuenta del jugador.</li>
        <li>7.6. La Funda reserva los derechos de ajustar el pago acreditado a la cuenta La Funda si es obvio que el pago fue acreditado por error.</li>
        <li>7.7. Una apuesta, que fue colocada y aceptada, no puede ser modificada, retirada o cancelada por el jugador.</li>
        <li>7.8. La lista de todas las apuestas, sus estatus y detalles están disponibles para el jugador en la página web.</li>
        <li>7.9. Cuando el jugador coloca una apuesta se entiende que tiene conocimiento de haber leído y entendido completamente los términos y condiciones, y las reglas de juegos acordando las apuestas fijadas en la página web.</li>
        <li>7.10. La Funda administra las cuentas de los jugadores, calcula los fondos disponibles, los fondos pendientes, los fondos apostados, así como el importe de las ganancias. Salvo prueba de lo contrario, estos montos son considerados finales y exactos.</li>
        <li>7.11. El jugador es responsable de las apuestas colocadas.</li>
        <li>7.12. Las ganancias se pagarán en la cuenta de los jugadores luego de la confirmación de los resultados finales. De igual forma, La Funda se reserva los derechos de realizar una investigación por sospecha o actividades criminales que pueden afectar el resultado. Si la irregularidad es confirmada entonces La Funda tiene el derecho de anular cualquier apuesta relacionada.</li>
        <li>7.13. Si La Funda está consciente de que un jugador ha realizado un número de apuestas desde diferentes cuentas que ha creado con irregularidades, todas las apuestas serán anuladas a discreción sin restricciones de La Funda. La Funda se guarda los derechos de tomar cualquier acción que considere necesaria.</li>
        <li>7.14. Si las apuestas exceden los montos fijados y son aceptadas erróneamente, el monto excedido será ignorado y la apuesta hecha será revisada y la diferencia se devolverá al jugador.</li>
        <li>7.15 Los jugadores afirman que no pertenecen a ningún sindicato de apuestas donde estarían involucradas varias partes haciendo apuestas para evadir las reglas de La Funda.</li>
        <li>7.16. A menos que se indique lo contrario, todas las apuestas en La Funda están hechas de acuerdo con el resultado a tiempo completo de un partido.</li>
        <li>7.17. Estadísticas, resultados directos, apuestas directas o textos editoriales publicados en la página La Funda son informaciones adicionales y La Funda desconoce ni acepta ninguna responsabilidad sobre la veracidad de las informaciones. Es responsabilidad del jugador estar pendiente de las circunstancias relativas a los eventos.</li>
        <li>7.18. Si una apuesta es declarada nula, la apuesta será devuelta al jugador. Las apuestas se declaran nulas si las partidas se posponen o se abandonan, donde los resultados no se han declarado dentro de las próximas 36 horas, a menos que se indique lo contrario.</li>
        <li>7.19. La Funda se reserva los derechos de declarar una apuesta total o parcialmente nula si es obvio que:</li>
        <li>
            <ul>
                <li>Las apuestas han sido ofrecidas, colocadas y/o aceptadas a consecuencia de un error.</li>
                <li>Las apuestas se hicieron en base a posibilidades claramente malas y se destaca de las ofrecidas por otras compañías de juegos.</li>
                <li>Las apuestas fueron colocadas luego de que el evento iniciase o luego de una fecha tope establecida La Funda (Las apuestas directas excluidas por La Funda).</li>
                <li>Ha ocurrido algún sindicato de apuestas.</li>
                <li>Apuestas influenciadas, donde los jugadores influencian el resultado del partido de alguna manera.</li>
                <li>El resultado ha sido afectado por una acción criminal, directa o indirectamente.</li>
            </ul>
        </li>
        <li>7.20. Si una apuesta/evento es declarado nulo, serán evaluados como ganadores las posibilidades de 1.0, lo que significa que aún es posible ganar/perder dependiendo de la apuesta pendiente.</li>
        <li>7.21. La Funda se reserva los derechos de adoptar reglas especiales aplicables a partidas particulares o eventos que puedan ser contradictorios a las reglas de apuestas. En caso de ambigüedad, la prioridad sería la siguiente:</li>
        <li>
            <ul>
                <li>Reglas publicadas en conjunto con una oferta.</li>
                <li>Reglas publicadas dentro de las reglas generales de apuestas.</li>
            </ul>
        <li>7.22. Los errores de comunicación ocasionalmente suceden. La forma en que nuestro sistema funciona es que la apuesta es confirmada solo cuando se recibe en nuestro servidor en República Dominicana. Deberá haber un receso en comunicación luego de que coloque la apuesta y esta sea recibida en nuestros servidores y estará participando en el juego activo. Serás informado tanto si gana como si pierde luego que se restablezca la comunicación. Si la apuesta no se recibe en nuestros servidores entonces no participara y el monto de la apuesta no será retirado de su cuenta con nosotros.</li>
        <li>7.23. Un jugador insatisfecho con problemas relacionados con apuestas en La Funda deberá notificar a La Funda dentro de 30 días luego de que la transacción fue realizada. Las notificaciones realizadas luego del plazo otorgado no serán tomadas en cuenta. Mientras se hace una notificación escrita, si se presenta algún caso de discrepancia entre el resultado que aparece en el dispositivo del cliente y el resultado en las transacciones almacenadas en nuestro sistema, aceptas que el resultado en nuestro sistema certificado por un oficial de La Funda deberá ser el final.</li>
        <li>7.24. El jugador acepta y considera que está adecuadamente informado de su posible exposición por los detalles en línea que ofreció confirmando su apuesta generada por nosotros (Si el jugador tiene alguna duda con relación a esto debe contactar soporte).</li>
        <li>7.25. El jugador aceptar que cualquier monto perdido por apuestas bajo cualquier circunstancia no será recuperable vía nuestra empresa.</li>
    </ul>

<h2>8. Cancelación, suspensión y cierre.</h2>
    <ul>
        <li>8.1. Sin restringir nuestra capacidad de confiar en otros recursos que podrían estar disponibles para nosotros, podemos suspender, cerrar su cuenta o cancelar cualquier apuesta bajo nuestra discreción si: (i) Sospechamos que está relacionado con actividades fraudulentas o ilegales mientras utiliza nuestro producto de apuesta; (ii) Sospechamos que está incumpliendo cualquier término de este; (iii) Sospechamos que está manejándose de una forma que va en detrimento a la conducta de nuestro negocio; (iv) sospechamos que está teniendo dificultades para obtener crédito.</li>
        <li>8.2. Nosotros decidimos cancelar o anular cualquier apuesta bajo nuestra absoluta discreción donde: (i) hay un fallo; (ii) si algún otro cliente con quien tiene una apuesta ha incumplido algún término o condición de este acuerdo.</li>
        <li>8.3. La Funda se reserva los derechos de cancelar la cuenta de un cliente y el balance de su cuenta será devuelto si explicación futura sujetos a cualquier disposición de los términos y condiciones. Por lo contrario las apuestas pendientes serán debidamente honradas. Además nos reservamos el derecho de suspender todo o una parte de los servicios por cualquier razón bajo nuestra única discreción y en algunos eventos deberemos, pero no estaremos obligados a dar alguna información que consideremos práctica.</li>
        <li>8.4. Nos reservamos el derecho de proceder legalmente ante situaciones que abusan y/o cometen fraude en perjurio nuestro y/o de otros clientes.</li>
    </ul>


<h2>9. Umbrales aplicables: Montos mínimos y máximos.</h2>
    <ul>
        <li>9.1. Solo podrá colocar apuestas con un mínimo de apuesta de RD$1.00 en probabilidades de apuestas.</li>
        <li>9.2. El máximo de apuesta depende del monto que La Funda acepte al momento de su apuesta, esto se hace manualmente si su apuesta es mayor que el nivel aceptado automáticamente en el listado de apuestas que está en la página web (dichos montos están sujetos a cambios si notificación alguna) y tenemos el derecho de rechazar cualquier apuesta que sea hecha por aprobación manual. Cualquier apuesta que se realice con una aprobación manual antes de que el juego inicie es nula y el monto total de la apuesta será anulado. El jugador tiene el derecho de anular cualquier apuesta hasta tanto no sea aceptada por nuestros comerciantes.</li>
        <li>9.3. No deberá hacer apuestas que excedan el monto disponible en su cuenta.</li>
    </ul>


<h2>10. Limitación de responsabilidad</h2>
    <ul>
        <li>10.1. La Funda no acepta ninguna transmisión de responsabilidad, entrada o análisis de errores. La Funda, bajo su propia discreción se reserva el derecho de corregir cualquier error obvio publicado concerniente a probabilidades, eventos, jugadores, equipos, etc. Si no se indica lo contrario dichas publicaciones de probabilidades, eventos, jugadores, equipos, etc. tendrán una probabilidad de 1.00.</li>
        <li>10.2. La Funda bajo ninguna circunstancia deberá ser responsable por ningún daño causado por cualquier incorrección, retraso o transferencia abusiva de datos vía internet. La Funda tomará cualquier acción tecnológica razonable para proteger la información del cliente, pero no será ni será responsable si terceros obtienen control de cualquier proceso o utilizan información a pesar de dicha acción. Ninguna reclamación por daños deberán realizarse contra La Funda en cualquier situación que surge de los mismos.<li>
    </ul>


<h2>11. Robots y otros sistemas inteligentes artificiales</h2>
    <ul>
        <li>11.1. Está estrictamente prohibido utilizar en La Funda cualquier programa automático y/o sistemas de computadoras directa o indirectamente en conjunto con el servicio provisto por La Funda, incluyendo la ejecución de acciones tales como enviar información desde su computadora a otra computadora con sistemas y programas instalados.</li>
        <li>11.2. Ningún robot de póquer o programa desarrollado y diseñado para jugar automáticamente en La Funda está permitido.</li>
    </ul>


<h2>12. Fuerza mayor</h2>
    <ul>
        <li>12.1. Cualquier fallo o retraso realizado por La Funda en relación a su obligación con los servicios no deberá ser considerado como una violación o falta hacia el cliente, el grado de dicho fallo o retraso es lo que llamamos FUERZA MAYOR, como fuego, temblor de tierra, inundación, o cualquier otro elemento de la naturaleza, actos de Guerra, ataques terroristas, disturbios, fallo en el servicio público de electricidad, bloqueos y huelgas, interrupciones en el internet y las telecomunicaciones causadas por factor humano o natural, o cualquier otro evento fuera del control de La Funda.</li>
    </ul>


<h2>13. Propiedad intelectual</h2>
    <ul>
        <li>13.1. Todos los contenidos presentados en la página La Funda, textos, gráficas, imágenes, botones, iconos y los programas son propiedad o licencias de La Funda. Está prohibido copiar, imprimir o descargar cualquier porción de material publicado en la página de La Funda al menos que este expresamente permitido.</li>
        <li>13.2. Todas las marcas comerciales presentadas en la página de La Funda incluyendo, pero no limitándonos a nombres comerciales y otros símbolos están protegidos por leyes de comercios nacionales e internacionales. Está estrictamente prohibido utilizar las mismas bajo ninguna circunstancia sin aprobación.</li>
    </ul>


<h2>14. Sobre Kinbar International</h2>
    <ul>
        <li>14.1 Kinbar International se reserva el derecho de declinar cualquier retiro cuando la cantidad depositada no sea apostada por lo menos 2 veces. La compañía en lo adelante se reserva el derecho de aplicar cargos financieros como resultado de cualquier tipo de abuso, incluyendo depósitos con los que no se realice una apuesta, o para una apuesta mínima.</li>
    </ul>

<h4 style="text-align:center">Última revisión: Junio 2014</h4>


