<h1><%= t('views.terms_and_conditions') %></h1>


<p>Bienvenido a La Funda!</p>

<p>Si desea hacer una apuesta con dinero real, necesitará crear una cuenta con nosotros, al abrir una cuenta con La Funda, aceptará todos los términos y condiciones de nuestra página web.</p>

<p>Introducción:</p>

<p>La Funda opera bajo Kinbar International, número de registro nacional de la compañía RNC: 130882878.</p>

<p>Dirección: Av. Gustavo Mejía Ricart #94.</p>

<p>1. <b>Leyes de Gobierno</b></p>

<p>1.1. Este acuerdo es bajo las leyes de la República Dominicana.</p>
<p>1.2. Las cortes de República Dominicana tienen jurisdicción exclusiva.</p>
<p>1.3. Estos términos y condiciones deben ser presentados en varios idiomas, aparte del inglés para referencia solamente.
  Si se presenta alguna diferencia entre la versión de los términos y condiciones en inglés (acceso desde la página inicial
  <a href="http://www.lafunda.com.do/" target="_blank">www.LaFunda.com.do</a>) y esta versión, prevalece la versión en inglés.</p>
<p>1.4. Si está actuando sin su consentimiento, o no esta titulado NO PROSIGA.</p><p><b>2. Acuerdo</b></p>
<p>2.1.  Acordando estos términos y condiciones, el cliente está obligado en la totalidad de este acuerdo, y por nuestras “reglas” y “políticas de privacidad” que
  están incorporadas como referencias en los términos y condiciones. Si existe alguna inconsistencia entre estos términos, condiciones y algún otro documento incorporado como referencia,
  estos términos y condiciones prevalecerán.</p>
<p>2.2. Si cambiamos estos términos y condiciones podríamos tomar las medidas apropiadas para estos cambios y captar la atención del cliente (algo como colocar noticias de cambios en
  las posiciones prominentes de la página, juntos con los cambios de términos y condiciones) pero deberán ser responsabilidad absolutas de los clientes revisar cualquier enmienda,
  actualización o modificación. Los clientes que continúen con el uso de los servicios después de que las enmiendas y notificaciones sean cambiadas se considerará como aceptadas por los
  clientes los cambios de términos y condiciones.</p>

<p>2.3. Si no está de acuerdo con algunos de los términos y condiciones, por favor no intente registrarse en La Funda.</p>
<p><b> </b></p>
<p><b>3. Declaraciones Vinculantes</b></p>
<p>Aceptando estos términos y condiciones, garantiza que:</p>
<p>3.1. Está entre (a) 18 o (b) alguna otra edad legal o mayoría de edad determinada por alguna ley que sea aplicable a usted.</p>
<p>3.2. Puede entrar en un acuerdo de vinculación legal con nosotros y no está restringido a capacidades legales limitadas.</p>
<p>3.3. Entiende que usando nuestros servicios puede perder dinero en apuestas, póker y juegos de casino y acepta que es totalmente responsable de cualquier pérdida.</p>
<p>3.4. No usará nuestros servicios mientras esté ubicado en alguna jurisdicción donde realizar, aceptar apuestas, jugar póker y casino esté prohibido.</p>
<p>3.5. Si paga con tarjeta de crédito o débito debe ser el usurario autorizado de la misma.</p>
<p>3.6. Está permitido en la jurisdicción donde está localizado/a realizar apuestas de deportes, casino y servicios de póker en línea.</p>
<p>3.7. No depositará dinero originado por actividades criminales, ilegales o no autorizadas/ o intentará utilizar su cuenta creada con nosotros en dichas actividades.
  No deberá usar o permitir que otras personas utilicen el servicio provisto por nosotros y su cuenta de apuestas para cualquier actividad criminal, ilegal incluyendo, sin limitaciones,
  lavado de dinero, bajo ninguna ley aplicable a usted o nosotros.</p>

<p>3.8. Usted no utilizará ningún dispositivo, robots, arañas, software, rutina u otro método (o nada en la naturaleza de los anteriores) para interferir o intentar interferir con el normal
  funcionamiento de nuestros servicios, cualquier dispositivo correspondiente  software,
  este sitio web, la información o las transacciones que se ofrecen en este sitio web y, en particular, a no emplear o hacer uso de una inteligencia artificial u otro sistema
  (incluidas las máquinas, computadoras, software u otros sistemas automatizados) diseñado específicamente para derrotar el sistema y no en conspiración o intentar conspirar con otros
  jugadores con el fin de defraudar La Funda o sus clientes registrados.</p>

<p>3.9. Usted no es un oficial, director, empleado, consultor, afiliado o agente de La Funda o trabaja para alguna empresa relacionada con La Funda, pariente o compañero de piso de alguno de
  los precedentes.</p>
<p>3.10. No está diagnosticado o clasificado como un compulsivo, jugador problemático o no se considera como uno.</p>

<p><b>4. Privacidad</b></p>

<p>4.1. Las informaciones que envíe serán guardadas de manera confidencial y de otra manera procesadas de acuerdo con nuestra política de privacidad (asequible en nuestra página).</p>

<p>4.2. Aceptando estos términos y condiciones, acepta haber leído nuestra política de privacidad, localizada en la sección acerca de nosotros en nuestra página web.</p>
<p>4.3 Nos reservamos el derecho de solicitar validación de identidad a los jugadores por seguridad.</p>

<p><b>5. Cuentas / Métodos de pagos</b></p>
<p><i>5.1. Su cuenta</i></p>
<p>5.1.1. Antes de estar listo para jugar en La Funda, requerimos que se registre primero con nosotros.</p>
<p>5.1.2. Nosotros no deseamos y no estamos obligados a aceptar registros de personas residentes en jurisdicciones donde prohíben las apuestas de juegos en línea u otro tipo de juegos en línea.</p>
<p>5.1.3. Acepta proveer información exacta de registro e informarnos sobre cualquier cambio en los detalles.</p>
<p>5.1.4. Si los fondos a utilizar en su cuenta de La Funda son con tarjeta de débito o crédito, acepta enviarnos las siguientes informaciones: copia de la tarjeta, dirección de facturación,
  número de tarjeta, fecha de expiración y código de seguridad en caso de requerir dichas informaciones.</p>
<p>5.1.5. Nos autoriza a utilizar cualquier medio que consideremos necesario para verificar su identidad y solvencia con cualquier tercero que nos provea información.</p>
<p>5.1.6. El registro será realizado utilizando un servidor cifrado seguro.</p>
<p>5.1.7. Nos informará tan pronto esté consciente de cualquier error relacionado con su cuenta o cualquier cálculo con respecto a alguna apuesta que haya hecho. Nos reservamos el derecho de
  declarar nula la operación y evitar cualquier apuesta que sea la causante del error.</p>

<p>5.1.8. <a href="http://lafunda.com.do/" target="_blank">LaFunda.com.do</a> reserva los derechos de aplicar un cargo del 5% por manejo de depósitos y retiros para cubrir los costos de
  transacciones. Los cargos de manejo variaran dependiendo del método de pago que se utilice.</p>

<p>5.1.9.1. <a href="http://lafunda.com.do/" target="_blank">LaFunda.com.do</a> reserva los derechos para suspender las cuentas de los jugadores que tengan más de 12 meses inactivas.
  Si su cuenta ha sido inactivada debe contactar  <a href="mailto:soporte@lafunda.com" target="_blank">soporte@lafunda.com</a>.do  para que le faciliten las instrucciones sobre cómo reactivar
  su cuenta.</p>

<p>5.1.9.2. <a href="http://lafunda.com.do/" target="_blank">LaFunda.com.do</a> reserva los derechos de aplicar una cuota mensual a las cuentas equivalentes a $RD 1.00 en las cuentas que han
  estado inactivas por más de 12 meses.</p><p><i>5.2. Seguridad</i></p>

<p>5.2.1. Si se registra con nosotros vía la página web, luego de completar el registro, confirmaremos vía correo electrónico a la dirección que nos facilitó, que su cuenta fue creada.</p>

<p>5.2.2. En el registro vía la página web, se le solicitara elegir una contraseña para uso de la página web.</p>

<p>5.2.3. Acepta mantener su usuario y contraseña de manera confidencial y es responsable de cualquier mal uso de su contraseña.
  Cualquier pérdida sufrida por vía de terceros utilizando su cuenta no será repuesta por nosotros y además deberá tener completa responsabilidad por el uso de sus datos de registro por terceros,
  además de eximirnos de los daños derivados por estas acciones.</p>

<p>5.2.4. Acepta informarnos al menos una vez vía correo electrónico si cree que la información de su cuenta está siendo mal utilizada por terceros y considera que debemos suspender la misma.</p>
<p>5.2.5. Recomendamos que inhabilite cualquier recordatorio automático de contraseña en la memoria de su navegador. Esto ayudara a limitar el riesgo de uso de su cuenta sin autorización.</p>
<p><i>5.3. Cuentas /Métodos de pagos</i></p>
<p>5.3.1. Deberá depositar los fondos en su cuenta desde su tarjeta de crédito o débito. También puede realizarlo por transferencia bancaria directa a La Funda y utilizar una solución de
  cartera electrónica de dinero facilitada por La Funda. Todos los pagos serán convertidos en la moneda de uso que tengas en su cuenta de apuestas.
  Acepta que no hará o procurara que le realicen ningún cargo anterior, negar o reservar ningún pago, y que reembolsara a La Funda cualquier cargo anterior, negaciones o reversos de
  pagos incurridos por La Funda como una consecuencia del mismo. La Funda deberá, con nuestra única y absoluta discreción dejar de proveer servicios de pagos a ciertos usuarios,
  o a usuarios que pagan con ciertas tarjetas de crédito o débito.</p>

<p>5.3.2. Aceptamos el pago con tarjeta de crédito Visa y MasterCard. Cuando registre su tarjeta, sus detalles quedan cifrados y almacenados permanentemente en el
  servidor de seguridad de  La Funda.</p>

<p>5.3.3. Los detalles que necesitara para realizar sus pagos están disponibles en nuestra página web en mi cuenta y en la página de fondos de depósitos.</p>

<p>5.3.4. Los depósitos incurrirán en ciertos cargos dependiendo el método que selecciones. Los depósitos realizados con tarjeta de crédito incurrirán en el cargo de un pequeño porcentaje en
  base al monto inicial del depósito, para reflejar cargos impuestos por nuestro banco adquiriente. Los cargos impuestos a nosotros cambiaran de vez en cuando y reconoce que nosotros deberemos
  de revisar nuestros cargos para realizar dichos cambios. Su banco independientemente hará cargos a su cuenta por las transferencias bancarias.</p>

<p>5.3.5. Si utiliza una tarjeta de crédito para realizar depósitos, sus fondos estarán limpios cuando recibamos el código de aprobación y autorización. Si el emisor de su tarjeta no autoriza
  la transferencia de los fondos, su cuenta no será acreditada con dichos fondos.</p>

<p>5.3.6. La Funda opera bajo una licencia de República Dominicana.</p>

<p>5.3.7. No extendemos crédito por el uso de nuestros servicios.</p>

<p>5.3.8. La Funda no es una institución bancaria. No recibirá pagos de intereses o de cualquier balance pendiente en la cuenta. Intereses, cualquiera, se acumularán en la empresa para el
  pago de gastos administrativos.</p>

<p>5.3.9. Si su cuenta se sobregira con el duplicado de algún pago por error, como una solicitud de retiro que se realice doble por parte de nuestros asociados de pagos, acepta autorizar a
  La Funda para depositar más fondos en su cuenta desde tu tarjeta de crédito registrada. La Funda realizará todo el esfuerzo razonable en contactarle antes de realizar cualquier transacción
  de forma manual.</p>

<p>5.3.10. Nos reservamos los derechos de deducir cualquier depósito de costo incurrido por los montos retirados, si dichos costos exceden las ganancias netas generadas por usted después de
  la fecha en que se originó el retiro del dinero.</p>

<p>5.3.11. La Funda no acepta abusos en la diferencia del cambio diario de tarifas que podrían ocurrir durante un día de comercio. Los movimientos normales de dinero no deberán ser cuestionados,
  pero obviamente los abusos serán deducidos por las cuentas de los clientes.</p>

<p><i>5.4. Cuentas /Métodos de pagos </i></p>
<p>5.4.1. Los cálculos de la compañía de su balance de reserva, balance disponible y montos adeudados por usted bajo los términos de este acuerdo serán terminados y en la falta de cualquier
  error manifestado, no será objeto de  investigación o indagación.</p>

<p>5.4.2. Nos reservamos el derecho de cerrar su cuenta y devolverle el balance disponible bajo nuestra absoluta discreción y sin ninguna condición de obligación o de previo aviso.</p>

<p><i>5.5. Manejo cuenta de cliente </i></p>

<p>5.5.1. Todos los ganadores llevaran a cabo la confirmación de los resultados relevantes por medio a su cuenta de cliente.</p>

<p>5.5.2. Cualquier monto que sea acreditado erróneamente a su cuenta como ganador siendo esta propiedad de la empresa, será automáticamente transferido desde su cuenta tan pronto como el error
  sea detectado. Cualquier cargo erróneamente acreditado a su cuenta y retirado por usted constituirá una deuda de usted con nuestra empresa por el monto atribuido injustamente como ganador.</p>

<p>5.5.3. Deberá retirar cualquier monto del balance disponible en su cuenta emitiéndonos una nota valida de retiro de la manera especificada en la cuenta de usuario en la página web.</p>
<p>5.5.4. Deberá retirar fondos de su cuenta por transferencias bancarias directas, retiro en efectivo o por cheque si ofrecemos ese método al momento de realizar el retiro. Todos los pagos
  ser harán en Pesos.</p>

<p>5.5.5. No aceptaremos solicitudes de retiros realizadas de otra manera que no sean las facilidades que proveemos en la página web Mi Cuenta. Los empleados de la empresa no están autorizados a
  efectuar dichos pagos.</p>

<p>5.5.6. Para reflejar los cargos impuestos a nosotros por el banco, hay un pequeño cargo por retiros vía cheque y transferencia bancaria directa. Los cargos impuestos a nosotros variaran de
  vez en cuando y deberá tener conocimiento de que debemos revisar nuestros cargos para reflejar los cambios.</p>

<p>5.5.7 Pagos de impuestos,  tasas, cargos o gravámenes que puedan aplicar a nuestros ganadores bajo las leyes que apliquen deberán ser de responsabilidad única.</p>

<p>5.5.8 Los ganadores de las apuestas colocadas están acreditados a su cuenta y deberán de retirar de acuerdo a nuestras políticas de retiro de vez en cuando y si es requerido proveer una
  fotografía de identificación válida, prueba de dirección y número de tarjeta de crédito o débito para satisfacción nuestra.</p>

<p><b>6. Bonos </b></p>

<p>6.1. La Funda reserva los derechos de cancelar cualquier bono o programa de bonos (incluyendo pero no limitándose a depósitos de bonos, recarga de bonos y programas de lealtad) con efecto
  inmediato si entendemos que los bonos fueron emitidos incorrectamente o se está cometiendo abusos en el uso de los mismos, y si los bonos fueron pagados nos reservamos el derecho de declinar
  cualquier solicitud de retiro y a deducir el monto desde la cuenta del cliente. Si se considera que los bonos fueron configurados incorrectamente o abusivos es discreción única de La Funda.</p>

<p>6.2. En caso de que decida utilizar un depósito de bono instantánea, no se aceptaran retiros de su depósito original antes de haber concluidos los requerimientos establecidos para esos bonos.
  Esos bonos son emitidos con la intención de recompensar a esos jugadores que depositan dinero con la intención de jugar con  La Funda, por tanto no aceptará que los jugadores hagan depósitos e
  inmediatamente retiren tan pronto como reciban los bonos de depósitos.</p>

<p>6.3. Las apuestas para los juegos Baccarat, Blackjack, Ruletas y dados no cuentan para los requerimientos de bonos.</p>
<p><b>7. Reglas generales de apuestas.</b></p>

<p>7.1. Una apuesta sólo puede ser colocada por un jugador registrado.</p>
<p>7.2. Una apuesta sólo puede ser colocada vía internet.</p>
<p>7.3. Un jugador sólo puede colocar una apuesta si tiene los fondos suficientes en su cuenta con La Funda.</p>
<p>7.4. Una vez concluida la apuesta, será administrada por la versión de términos y condiciones validad al momento en que la apuesta fue aprobada.</p>
<p>7.5. El pago de la apuesta de un ganador es acreditado a la cuenta del jugador, consistiendo en las probabilidades de tiempo donde la apuesta fue jugada.</p>
<p>7.6. La Funda reserva  los derechos de ajustar el pago acreditado a la cuenta La Funda si es obvio que el pago fue acreditado por error.</p>
<p>7.7. Una apuesta, que fue colocada y aceptada, no puede ser modificada, retirada o cancelada por el jugador.</p>
<p>7.8. La lista de todas las apuestas, sus estatus y detalles están disponibles para el jugador en la página web.</p>
<p>7.9. Cuando el jugador coloca una apuesta, él/ella tiene conocimiento de haber leído y entendido completamente los términos y condiciones y las reglas de juegos acordando las apuestas
  fijadas en la página web.</p>
<p>7.10. La Funda administra las cuentas de los jugadores, calcula los fondos disponibles, los fondos pendientes, los fondos apostados, así como el importe de las ganancias. Salvo prueba de
  lo contrario, estos montos son considerados finales y exactos.</p>
<p>7.11. El jugador es responsable de las apuestas colocadas.</p>
<p>7.12. Las ganancias se pagaran en la cuenta de los jugadores luego de la confirmación de los resultados finales. Como quiera, La Funda se reserva los derechos, aparte cualquier ganancia
  puede ser resultado de una investigación por una sospecha o actividades criminales que pueden afectar el resultado. Si la irregularidad es confirmada entonces La Funda tiene el derecho de
  anular cualquier apuesta relacionada</p>
<p>7.13. Si La Funda está consciente de que un jugador ha realizado un número de apuestas desde diferentes cuentas que ha creado con irregularidades, todas las apuestas serán anuladas a discreción
  sin restricciones de La Funda. La Funda se guarda los derechos de tomar cualquier acción que considere necesaria.</p>
<p>7.14. Si las apuestas exceden los montos fijados y son aceptadas erróneamente, el monto excedido será ignorado y la apuesta hecha será revisada, la diferencia se pagara devuelta al jugador.</p>
<p>7.15 Los jugadores afirman que no pertenecen a ningún sindicato de apuestas, donde estarían involucradas varias partes haciendo apuestas para evadir las reglas de La Funda.</p>
<p>7.16. A menos que se indique lo contrario, todas las apuestas en La Funda están hechas de acuerdo con el resultado a tiempo completo de un partido.</p>
<p>7.17. Estadísticas, resultados directos, apuestas directas o textos editoriales publicados en la página La Funda son informaciones adicionales y La Funda desconoce o acepta ninguna
  responsabilidad sobre la veracidad de las informaciones. Es responsabilidad del jugador estar pendiente de las circunstancias relativas a los eventos.</p>
<p>7.18. Si una apuesta es declarada nula, la apuesta será devuelta al jugador. Las apuestas se declaran nulas si las partidas se posponen o se abandonan, donde los resultados no se han
  declarado dentro de las próximas 36 horas, a menos que se indique lo contrario.</p>
<p>7.19. La Funda se reserva los derechos de declarar una apuesta total o parcialmente nula si es obvio que:</p>

<ul>
  <li>Las apuestas han sido ofrecidas, colocadas y/o aceptados a consecuencia de un error.</li>
  <li>Las apuestas se hicieron  en base a posibilidades claramente mal y se destaca de las ofrecidas por otras compañías de juego.</li>
  <li>Las apuestas fueron colocadas luego de que el evento iniciase o luego de una fecha tope establecida La Funda (Las apuestas directas excluidas por La Funda);</li>
  <li>Ha ocurrido algún sindicato de apuestas;</li>
  <li>Apuestas influenciadas, donde los jugadores influencian el resultado del partido de alguna manera.</li>
  <li>El resultado ha sido afectado por una acción criminal, directa o indirectamente.</li>
</ul>

<p>7.20. Si una apuesta / evento es declarado nulo, serán evaluados como ganadores las posibilidades de 1.0, lo que significa que aún es posible ganar / perder dependiendo
  de la apuesta pendiente.</p>

<p>7.21. La Funda se reserva los derechos de adoptar reglas especiales, aplicables a partidas en particular o eventos que puedan ser contradictorios a las reglas de apuestas.
  Salvo reglas especiales deberán también ser publicadas dentro de las “reglas apuestas de juegos” o en conjunto con las posibilidades publicadas para partidas y eventos en particular.
  En caso de ambigüedad, la prioridad seria la siguiente:</p>
<ul>
  <li>Reglas publicadas en conjunto con una oferta.</li>
  <li>Reglas publicadas dentro de las reglas de apuestas de juegos.</li>
  </ul>

 <p>7.22. Los errores de comunicación ocasionalmente suceden. La forma en que nuestro Sistema funciona es que la apuesta es confirmada solo cuando se recibe en nuestro servidor en
    República Dominicana. Deberá haber un receso en comunicación luego de que coloque la apuesta y esta sea recibida en nuestros servidores y estará participando en el juego activo.
   Serás informado tanto si gana como si pierde luego que se restablezca la comunicación. Si la apuesta no se recibe en nuestros servidores entonces no participara y el monto de la apuesta no
   será retirado de su cuenta con nosotros.</p>

<p>7.23. Un jugador insatisfecho con problemas relacionados con apuestas en La Funda deberá notificar La Funda dentro de los 30 días luego de que la transacción fue realizada.
  Las notificaciones realizadas luego de plazo otorgado no serán tomadas en cuenta. Mientras se hace una notificación escrita, si se presenta algún caso de discrepancia entre el resultado
  que aparece en el dispositivo del cliente y el resultado en las transacciones almacenadas en nuestro sistema, aceptas que el resultado en nuestro sistema certificado por un oficial de
  La Funda deberá ser el final.</p>

<p>7.24. El jugador él / ella acepta y considera que esta adecuadamente informado de su posible exposición por los detalles en línea que ofreció confirmando su apuesta generada por nosotros.
  (Si el jugador tiene alguna duda con relación a esto, él/ella debe contactar soporte).</p>

<p>7.25. El jugador aceptar que cualquier monto perdido por apuestas bajo cualquier circunstancia no será recuperable vía nuestra empresa.</p>

<p>8. <b>Cancelación, Suspensión y Cierre. </b></p>

<p>8.1. Sin restringir nuestra capacidad de confiar en otros recursos que podrían estar disponibles para nosotros, debemos suspender o terminar su cuenta o cancelar cualquier apuesta bajo
nuestra discreción si: (i) Sospechamos que está relacionado con actividades fraudulentas o ilegales mientras utiliza nuestro producto de apuesta; (ii) Sospechamos que está incumpliendo
  cualquier termino de este; (iii) Sospechamos que está manejándose de una forma que va en detrimento a la conducta de nuestro negocio; o (iv) sospechamos que está teniendo dificultades para
  obtener crédito.</p>

<p>8.2. Cualquier irrespeto suspendemos o damos por cerrada la cuenta basándonos en nuestros términos y condiciones, nosotros decidimos cancelar o anular cualquier apuesta bajo nuestra absoluta
  discreción donde: (i) hay un fallo, o (ii) su o algún otro cliente con quien tiene apuesta ha incumplido algún término o condición de este acuerdo.</p>

<p>8.3. La Funda se reserva los derechos de cancelar la cuenta de un cliente y el balance de su cuenta será devuelto si explicación futura. Sujetos a cualquier disposición de los términos y
  condiciones, por lo contrario las apuestas pendientes serán debidamente honradas. Además nos reservamos los derechos para suspender todo o una parte de los servicios por cualquier razón bajo
  nuestra única discreción y en algunos eventos deberemos pero no estaremos obligados a dar alguna información que consideremos práctica.</p>

<p><b>9.  Umbrales aplicables: Montos mínimos y máximos. </b></p>

<p>9.1. Solo podrá colocar apuestas con un mínimo de apuesta de $RD 0.1 en probabilidades de apuestas.</p>
<p>9.2. El máximo de apuesta depende del monto que La Funda acepte al momento de su apuesta, esto se hace manualmente, si su apuesta es mayor que el nivel aceptado  automáticamente en el listado
  mínimo de apuestas que está en la página web (dichos montos están sujetos a cambios si notificación alguna) y tenemos los derechos para rechazar cualquier apuesta que sea hecha por
  aprobación manual. Cualquier apuesta que se realice con una aprobación manual antes de que el juego inicie es nula y el monto total de la apuesta será anulado. El jugador tiene el derecho de
  anular cualquier apuesta hasta tanto no sea aceptada por nuestros comerciantes.</p>

<p>9.3. No deberás hacer apuestas que excedan el monto disponible en tu cuenta.</p>

<p>9.4<b> </b>Los retiros de efectivo solo pueden realizarse en una de las 50 agencias de Todo Pago, y los montos a retirar solo serán montos “Ganados”, es decir dinero obtenido luego de
  haber ganado en alguna jugada, NO APLICAN retiros para dinero depositado.</p>

<p>9.5 Los retiros podrán hacerse de inmediato hasta los 10,000 pesos, los retiros que excedan los 10,000 pesos requerirán un proceso de Verificación de 24hrs antes de poder ser retirados.</p>

<p><b>10. Limitación de responsabilidad </b></p>

<p>10.1.  La Funda no acepta ninguna transmisión de responsabilidad, entrada / o análisis de errores. La Funda, bajo su propia discreción se reserva los derechos para corregir cualquier error
  obvio publicado concerniente a probabilidades, eventos, jugadores, equipos, etc. Si no se indica lo contrario dichas publicaciones de probabilidades, eventos, jugadores, equipos, etc.
  tendrán una probabilidad de 1.00.</p>

<p>10.2.  La Funda, bajo ninguna circunstancia deberá ser responsable por ningún daño causado por cualquier incorreción, retraso o transferencia abusiva de datos vía internet.
  La Funda empezara cualquier acción tecnológica razonable para proteger la información del cliente, pero no será ni tomara responsabilidad si terceros obtienen control de cualquier proceso o
  utilizan información a pesar de dicha acción. Ninguna reclamación por daños deberán realizarse contra La Funda, en cualquier situación que surge de los mismos.

<p><b>11.</b> <b>Robots y otros sistemas inteligentes artificiales </b></p>
<p>11.1. Esta estrictamente prohibido utilizar en La Funda cualquier programa automático y/o sistemas de computadoras directa o indirectamente en conjunto con el servicio provisto por La Funda,
  incluyendo la ejecución de acciones tales como enviar información desde su computadora a otra computadora con sistemas y programas instalados.</p>

<p>11.2. Ningún robot de póker o programa desarrollado y diseñado para jugar automáticamente en La Funda está permitido.</p>

<p><b>12. Fuerza mayor</b></p>
<p>12.1.  Cualquier fallo o retraso realizado por La Funda en relación  a su obligación con los servicios no deberá ser considerado como una violación o falta hacia el cliente, el grado de dicho
  fallo o retraso es lo que llamamos FUERZA MAYOR, como fuego, temblor de tierra, inundación, o cualquier otro elemento de la naturaleza, actos de Guerra, ataques terroristas, disturbios,
  fallo en el servicio público de electricidad, bloqueos y huelgas, interrupciones en el internet y las telecomunicaciones causadas por factor humano o natural, o cualquier otro evento fuera del
  control de  La Funda.</p>

<p><b>13. Propiedad intelectual</b></p>

<p>13.1. Todos los contenidos presentados en la página La Funda, textos, gráficas, imágenes, botones, iconos y los programas son propiedad o licencias de La Funda. Está prohibido copiar,
  imprimir o descargar cualquier porción de material publicado en la página de La Funda al menos que este expresamente permitido.</p>

<p>13.2. Todas las marcas comerciales presentadas en la página de La Funda incluyendo, pero no limitándonos a nombres comerciales y otros símbolos están protegidos por leyes de comercios
  internacionales. Está estrictamente prohibido utilizar las mismas bajo ninguna circunstancia sin aprobación.</p>

<p><strong>14. Sobre Kinbar International</strong></p>

<p>14.1 Kinbar International se reserva el derecho de declinar cualquier retiro cuando la cantidad depositada no sea apostada por lo menos 2 veces. La compañía en lo adelante se reserva el
  derecho de aplicar cargos financieros como resultado de cualquier tipo de abuso, incluyendo depósitos con los que no se realice una apuesta, o para una apuesta mínima.</p>