<h1><%= t('views.withdraw')%></h1>

<iframe src="http://190.4.89.56/Pages/frmLogin.aspx?CustPIN=<%= @current_user.username %>&Password=<%= session[:user_token] %>" width="100%" seamless="seamless" height="600"></iframe>


<% content_for :modules do %>
    <%= render 'users/balance' %>
<% end %>