// Place all the styles related to the SportGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bx-wrapper {
  position:relative;
}

.bx-has-pager {
  position: absolute;
  bottom: -16px;
  left: 45%;
}

.bx-pager-item {
  float: left;
  margin-left: 3px;
}

.bx-pager-link {
  float: left;
  font-size: 0;
  width:16px;
  height: 16px;
  background-image:  url(asset-path('icons/slider_inactive.png'));
  background-repeat: no-repeat;
  background-position: center;
}

.bx-pager-link.active {
  background-image:  url(asset-path('icons/slider_active.png'));
}

@media screen and (max-width: 568px) {

  .bx-pager-link {
    display:none;
  }
}