// Place all the styles related to the casino controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style:none;
  outline:none;
}

img {
  max-width:100%;
}


body {
  width:100%;
  font-family: calibri, calibriregular, arial;
  color:#fff;
  overflow-x:hidden;
  background: #3e3c3d;
}

#all {
  transition: all 0.2s linear;
  -webkit-transition:  all 0.2s linear;
}

#main {
  z-index:1;
  background-image: url(asset-path('bg/pokertablebg.jpg'));
  background-repeat: repeat;
  background-position: top center;
  background-size:contain;
  background-color: #1e5127;
  overflow-x:hidden;
  position:relative;
}

.wrapper {
  max-width:1280px;
  min-width:1024px;
  margin:0 auto;
  padding:0 2.128%;
  overflow:hidden;
}

/*********************************************************************** MINI HEADER ********************************************************************************/

#miniheader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  margin-top:-74px;
  transition: all 0.3s linear;
  -webkit-transition:  all 0.3s linear;
  background: #030303;
}

.corner {
  width:30%;
  float:left;
  height:59px;
}

#minilogo {
  display: block;
  float: left;
  padding: 0.310% 0 0.191%;
  text-align: center;
  width: 39%;
}

#minilogo img {
  height:49px;
  width:86px;
}

/*********************************************************************** HEADER ********************************************************************************/
#header {
  position:relative;
  padding-top: 2.1289%;
}

#langselect {
  position:absolute;
  right:0px;
}

#admin_panel {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(asset-path('bg/dark_leather.png'));
  background-repeat: no-repeat;
  border-radius: 0 0 4px 4px;
  padding: 6px 15px;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  font-size: 15px;
  font-family: calibri, calibriregular, arial;
}

#admin_panel #ticket_path {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  font-size: 15px;
  padding-left:24px;
  background-image: url(asset-path('icons/ticket_center.png'));
  background-repeat: no-repeat;
  background-position: left center;

}

#ticket_path span {
  background: red;
  padding: 0px 5px;
  border-radius: 3px;
  margin-left: 7px;
  text-align: center;
  font-size: 14px;
}

#topmenu {
  margin-bottom: 1.315%;
  height: 29px;
  width: 100%;
}

#topleft {
  width: 35%;
  float: left;
  padding: 0;
  overflow: hidden;
  height: 29px;
}

#topleft .icon {
  display: block;
  padding: 3px;
  background: #dfab3e;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  float: left;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
}

#topleft li {
  display:inline-block;
  float: left;
  min-width: 113px;
}

#topleft li a {
  padding: 0 28px 0 9px;
  color: #fff;
  font-weight: bold;
  text-transform: none;
  font-family: Calibri, calibriregular, Helvetica, arial;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  line-height: 29px;

}



#logo {
  text-align: center;
  width: 300px;
  display: block;
  overflow: hidden;
  margin: 0 auto -2.1289%;
}

#topright {
  width: 35%;
  float: right;
  padding: 0;
  height: 29px;
}

#corner {
  position: absolute;
  right: 0;
  top: 0;
  width:16%;
}

.logout {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  display: inline-block;
  text-transform: none;
  float:right;
  margin-left: 30px;
  height:29px;
  min-width:144px;
}

.logout img {
  position: relative;
  padding-left: 8px;
}

.logout span {
  float: left;
  line-height: 29px;
}

#signup {
  position: absolute;
  right: 115px;
  top: 60px;
}

/******************************************************************* USER TAG ********************************************************************************/


#topright #usertag {
  float: right;
  background-image: url(asset-path('icons/tag.png'));
  background-repeat: no-repeat;
  background-position: 7px center;
  background-color:#e6f0e8;
  color: #222;
  height: 29px;
  line-height: 29px;
  padding: 0 2.1289% 0 33px;
  text-decoration:none;
  border-radius:3px 0 0 3px;
  font-size:1em;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;

}

#usertag span {
  font-weight: bold;
  font-family: Calibri, calibriregular, Helvetica, arial;
  float:left;
}

#tagarrow {
  float: right;
  background: #fff;
  display: block;
  height: 29px;
  width: 29px;
  border-radius: 0 3px 3px 0;
  line-height: 29px;
  text-align: center;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  display:none;

}

#tagarrow:hover {
  cursor:pointer;
}

#tagmenu {
  position: absolute;
  right: 174px;
  top: 30px;
  background: #fff;
  width: 160px;
  border-radius: 3px 0px 3px 3px;
  padding: 2.1289% 0;
  display:none;
  z-index:10;
}

#tagmenu li {

}

#tagmenu li a {
  color: #333;
  padding: 3.444% 14.591%;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 0.875em;
  margin-bottom: 1px;
}

#tagmenu li a:hover {
  color: #222;
  background:#dfab3e;
}

#tagmenu .current a {
  color: #222;
  font-weight:bold;
}


/***************************************************************** LOG IN ******************************************************************/

#topright form {
  padding-left:14.591%;
}

#topright form input {
  display: inline-block;
  width: 37%;
  background: #fff;
  height: 29px;
  font-size: 11px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
  padding: 6px 2.128%;
  color: #333;
  float:left;
  margin-right:5px;
  line-height:16px;
}

#topright form input[type="submit"] {
  width: 22%;
  border-radius: 3px;
  background: #dfab3e;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #1e5127;
  letter-spacing: 0.02em;
  font-weight: bold;
  cursor:pointer;
  text-align:center;
  margin:0;
  padding:6px 0;
  -webkit-appearance:none;
  -moz-appearance:none;
  font-family: Calibri, calibriregular, Herlvetica, Arial;
}

#topright form input:focus {

}



/********************************************************************* MAIN MENU ************************************************************/

#mainmenu {
  height: 44px;
  /*background-image: url(asset-path('bg/black_denim.png'));
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);*/
  background-image: url(asset-path('blacks/black40.png'));
  background-repeat: repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: top center;
  border-radius: 3px;
  margin-bottom: 1.315%;
  padding: 0 1.315%;


}

#mainmenu li {
  display:inline-block;
  float:left;
  margin: 0.502% 0.813%;
}

#mainmenu li a {
  color: #fff;
  padding: 0 10px 0 40px;
  text-transform:none;
  text-decoration: none;
  height: 30px;
  line-height: 32px;
  font-family: Calibri, calibriregular, Helvetica, Arial;
  font-size: 1.125em;
  font-weight: normal;
  text-shadow: 1px 1px #000;
  display: block;
  background-repeat: no-repeat !important;
  background-position: 7px center !important;
  background-size: contain;
}

#mainmenu .current a {
  border-radius: 3px;
  text-shadow: none !important;
  background-color: #dfab3e;
  color: #111 !important;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  background-size: initial;
}

/********************************************************************* MAIN MENU ICONS ************************************************************/


#mainmenu #home a {
  background-image: url(asset-path('icons/home_top.png'));
}
#mainmenu .current#home a {
  background-image: url(asset-path('icons/home_top_active.png')) !important;
}

#mainmenu #casino a {
  background-image: url(asset-path('icons/casino_top.png'));
}
#mainmenu .current#casino a {
  background-image: url(asset-path('icons/casino_top_active.png')) !important;
}


#mainmenu #sportsbook a {
  background-image: url(asset-path('icons/sportsbook_top.png'));
}
#mainmenu .current#sportsbook a {
  background-image: url(asset-path('icons/sportsbook_top_active.png')) !important;
}


#mainmenu #racebook a {
  background-image: url(asset-path('icons/racebook_top.png'));
}
#mainmenu .current#racebook a {
  background-image: url(asset-path('icons/racebook_top_active.png')) !important;
}

#mainmenu #lottery a {
  background-image: url(asset-path('icons/lottery_top.png'));
}
#mainmenu .current#lottery a {
  background-image: url(asset-path('icons/lottery_top_active.png')) !important;
}

#mainmenu #promotions {
  float:right;
}

#mainmenu #promotions a {
  background-image: url(asset-path('icons/promotions_mobile.png'));
  color:#ffcd5f;
}
#mainmenu .current#promotions a {
  background-image: url(asset-path('icons/promotions_top_active.png')) !important;
}

#mainmenu #instructions {
  float:right;
}

#mainmenu #instructions a {
  background-image: url(asset-path('icons/instructions_mobile.png'));
  color:#ffcd5f;
}
#mainmenu .current#instructions a {
  background-image: url(asset-path('icons/instructions_top_active.png')) !important;
}

#social a {
  margin-bottom: 2.12%;
  display: inline-block !important;
}

#social a img {
}

/*************************************************************** MOBILE MENU ICONS ***************************************************************/


#mobile_menu #home a {
  background-image: url(asset-path('icons/home_mobile.png'));
}
#mobile_menu .current#home a {
  background-image: url(asset-path('icons/home_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #sportsbook a {
  background-image: url(asset-path('icons/sportsbook_mobile.png'));
}
#mobile_menu .current#sportsbook a {
  background-image: url(asset-path('icons/sportsbook_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #racebook a {
   background-image: url(asset-path('icons/racebook_mobile.png'));
 }
#mobile_menu .current#racebook a {
  background-image: url(asset-path('icons/racebook_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #lottery a {
  background-image: url(asset-path('icons/lottery_mobile.png'));
}
#mobile_menu .current#lottery a {
  background-image: url(asset-path('icons/lottery_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #casino a {
  background-image: url(asset-path('icons/casino_mobile.png'));
}
#mobile_menu .current#casino a {
  background-image: url(asset-path('icons/casino_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #account a {
  background-image: url(asset-path('icons/account_mobile.png'));
}
#mobile_menu .current#account a {
  background-image: url(asset-path('icons/account_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #cashier a {
  background-image: url(asset-path('icons/cashier_mobile.png'));
}
#mobile_menu .current#cashier a {
  background-image: url(asset-path('icons/cashier_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #support a {
  background-image: url(asset-path('icons/support_mobile.png'));
}
#mobile_menu .current#support a {
  background-image: url(asset-path('icons/support_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #logout a {
  background-image: url(asset-path('icons/logout_mobile.png'));
}
#mobile_menu .current#logout a {
  background-image: url(asset-path('icons/logout_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #instructions a {
  background-image: url(asset-path('icons/instructions_mobile.png'));
}
#mobile_menu .current#instructions a {
  background-image: url(asset-path('icons/instructions_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu #promotions a {
  background-image: url(asset-path('icons/promotions_mobile.png'));
}
#mobile_menu .current#promotions a {
  background-image: url(asset-path('icons/promotions_top.png')) !important;
  color:#ffcd5f;
}

#mobile_menu ul {
    padding: 2.12% 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

#mobile_menu ul li a {
  width: 55%;
  margin: 0 auto;
  display: block;
  padding: 3.444% 5.573%;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  background-repeat: no-repeat !important;
  background-position: 15px center !important;
  padding-left:60px;
}

#mobile_menu ul li:hover {
  background:rgba(255,255,255,0.1);
}

/*********************************************************************** CONTENT **************************************************************************************/

#content {
  overflow:hidden;
  width:100%;
  padding-right: 0.191%;
}

#content .left {
  background:#fff;
  padding:2.128%;
  border-radius:3px;
  margin-bottom: 2.128%;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

.left {
  float:left;
  width:70.008%;
}

.right {
  float:right;
  width:28.366%;
}




/**************************************************************************** FONT STYLES *****************************************************************************/

#content .left p {
  color:#333;
  margin-bottom:1.315%;
}

#content .left a {
  color: #111;
}

#content .left ul, #content .left ol {
  margin-bottom:1.315%;
}


#content .left li {
  color:#333;
  margin: 0 0 0.813% 3.444%;
  list-style:initial;
  font-size:15px;
}

#content .left ol li {
  list-style-type: decimal;
}

p {

  font-size: 0.9375em;
  color:#fff;
  margin:0;
  font-family:corbelregular;
}

h1 {
  text-transform: uppercase;
  font-size: 28px;
  margin: 2.128% 0;
  color:#222;
  font-family: Calibri, calibriregular, Helvetica, arial;

}

h2 {
  text-transform:uppercase;
  margin: 5.444% 0 1.315%;
  color:#111;
  font-size:1.25em;
  font-family: Calibri, calibriregular, Helvetica, arial;

}

h3 {
  font-size: 1.125em;
  margin: 2.1289% 0;
  color:#333;
  font-weight:normal;
  font-family:Calibri, calibriregular, Helvetica, arial;
}

h4 {
  font-size: 1em;
  margin: 1.315% 0 1.315% 0;
  color:#222;
  font-family:Calibri, calibriregular, Helvetica, arial;
}



a {
  color: #fff;
}

td {
  color:#333;
}

ul > li > ul > li {
  list-style: initial;
}



/*************************************************************************** FOOTER **********************************************************************************/
#footer {
  background-image: url(asset-path('blacks/black70.png'));
  background-repeat: repeat;
  padding:2.128% 0;
  overflow:hidden;
}

#footer h6 {
  text-transform: none;
  font-size: 1.1875em;
  padding-bottom: 9.017%;
  font-family: Calibri, calibriregular, Helvetica, Arial;
}

#footer ul {
  float:left;
  width:24%;
  padding-right: 3.444%;
}


#footer ul li a {
  color:#eee;
  font-size:0.9375em;
  border-bottom:1px solid #193321;
  padding-bottom:2.12%;
  margin-bottom:1.315%;
  text-decoration:none;
  display:block;
}

#paymentmethods li{
  width: 19%;
  padding-right: 1%;
  display:inline-block;
}

#paymentmethods li a{
  border:none !important;
}





/*************************************************************************** COPYRIGHT **********************************************************************************/

#copyright {
  background-image: url(asset-path('blacks/black80.png'));
  background-repeat: repeat;
  padding:0.502% 0;
  overflow:hidden;

}

#copyright p {
  text-align: justify;
  padding: 0.310% 2.1289% 0 0;
  font-size: 0.875em;
  color:#eee;
  float:left;
  width:90%;
  margin:0;
}

#copyright .stamp {
  float:left;
  display:block;
  height:36px;
  width:36px;
  margin:0.191% 0.813% 0 0;
}



/****************************************************************** MODULES **************************************************************************************/

.right .module {
  box-shadow:1px 1px 1px rgba(0,0,0,0.3);
  overflow:hidden;
  border-radius:2px;
  margin-bottom: 5.573%;
}


.right h5  {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: bold;
  padding: 3.444% 5.573%;
  font-size: 1em;
  background-image: url(asset-path('bg/dark_leather.png'));
  background-repeat: repeat;
  border-radius: 3px 3px 0 0;
}

/****************************************************************** FORMS AND BUTTONS **************************************************************************************/

fieldset {
  width:100%;
}

legend {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin-bottom: 3.444%;
  color: #1e5127;
  font-weight: bold;
  font-size: 1.0625em;
}


.left label {
  color: #333;
  float: left;
  width: 30%;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 0.9375em;
  font-weight: normal;
  text-align: right;
  padding: 0 1.315% 0;
  text-transform: initial;
  margin:0 0 10px;
}


.left input {
  border: 1px solid #bbb;
  padding: 4px 5px;
  background: #eee;
  width: 40%;
  margin: 0 0 10px;
  font-family:calibri, calibriregular, arial;
  display: block;
  height: 30px;
  line-height:22px;
  float:left;
  margin-right:30%;
  font-size:0.875em;

}

.tip_wrapper {
  position: relative;
  /*overflow: hidden;*/
  float: left;
  width: 70%;
  padding-right: 30%;
}

.tip_wrapper input {
  width:100% !important;
  margin-right:0;
}

select {
  height: 30px;
  margin: 0 2% 10px 0;
  background: #eee;
  border: 1px solid #bbb;
  float: left;
  font-size: 0.875em;
  font-family:calibri, calibriregular, arial;
  padding: 4px 6px;
}

.left textarea {
  border: 1px solid #bbb;
  padding: 3px 5px;
  background: #eee;
  width: 40%;
  margin: 0 0 10px;
  font-family:calibri, calibriregular, arial;
  display: block;
  height: 120px;
  float:left;
  margin-right:30%;
  font-size: 0.875em;
}

.left input[type="submit"] {

  background: #dfab3e;
  color: #222;
  font-weight:bold;
  text-transform: uppercase;
  float: right;
  width: initial;
  cursor: pointer;
  padding: 0 5.573%;
  height:30px;
  margin:0;
  font-size:0.8125em;
  border:1px solid #444;
  -webkit-appearance:none;
  -moz-appearance:none;
  font-family:calibri, calibriregular, arial;
  border-radius: 0;
}

.left input[readonly="readonly"] {
  background: none;
  border: none;
  font-size:0.9375em;
  font-weight:bold;
}


.button {
  background: #dfab3e;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  color: #222 !important;
  border: 1px solid #333333;
  padding: 6px 12px;
  margin: 0;
  font-family: calibri, calibriregular, arial;
  display: block;
  font-size:0.8125em;
  text-decoration:none;
}

.button:active, .cancel:active, input[type="submit"]:active {
  position:relative;
  top:1px;
}

.buttons {
  margin:0 30%;
}

.cancel {
  background: #ae4f50;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  color: #fff !important;
  border: 1px solid #8c2d30;
  padding: 6px 5.573%;
  margin: 0;
  font-family: calibri, calibriregular, arial;
  display: block;
  font-size: 0.8125em;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.disabled {
  background: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  color: #222;
  border: 1px solid #333;
  padding: 6px 5.573%;
  margin: 0;
  font-family: calibri, calibriregular, arial;
  display: block;
  font-size: 0.8125em;
}

.disabled:hover {
  cursor:default;
}

/******************************************************************* FORMS ERRORS *******************************************************************************/

.field_with_errors input {
  border-width: 1px;
  border-color: #ae6f6f;
}

.field_with_errors label {
  color: #ae4f50;
  font-style: italic;
}

.field_with_errors select {
  border-width: 1px;
  border-color: #ae6f6f;
}

/****************************************************************** FONT FACE **************************************************************************************/

@font-face {
  font-family: 'corbelregular';
  src: asset-url('corbel-webfont.eot');
  src: asset-url('corbel-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('corbel-webfont.woff') format('woff'),
  asset-url('corbel-webfont.ttf') format('truetype'),
  asset-url('corbel-webfont.svg#corbelregular') format('svg');
  font-weight: normal;
  font-style: normal;


@font-face {
  font-family: 'calibriregular';
  src: asset-url('calibri-webfont.eot');
  src: asset-url('calibri-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('calibri-webfont.woff') format('woff'),
  asset-url('calibri-webfont.ttf') format('truetype'),
  asset-url('calibri-webfont.svg#calibriregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'calibriregular';
  src: asset-url('calibrib-webfont.eot');
  src: asset-url('calibrib-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('calibrib-webfont.woff') format('woff'),
  asset-url('calibrib-webfont.ttf') format('truetype'),
  asset-url('calibrib-webfont.svg#calibribold') format('svg');
  font-weight: bold;
  font-style: normal;

}

}

/****************************************************************** ALERTS **************************************************************************************/



.debug_dump {
  color:#222;
  background:#dbdbdb;
  border:1px solid #c0c0c0;
  padding:2.1289%;
}

#error, .alert {
  background:#eededf;
  color:#ae4f50;
  border:1px solid #ae4f50;
  border-radius: 1px;
  padding: 3px 5px;
  margin-bottom: 2.1289%;
}

#error_explanation li {
  font-size:0.875em;
  color: #e11414 !important;
  list-style: initial;
  margin-top: 0.813% !important;
}

#notice {
  color: #376130;
  background: #def1d9;
  padding: 0.813%;
  border: 1px solid #598350;
  margin-bottom:2.1289%;

}


/************************************************** TOOL TIPS *******************************************************/

[data_tip] {
  position:relative;

}

[data_tip]:after {
  display:none;
  content:attr(data_tip);
  position:absolute;
  right:0px;
  padding:5px 8px;
  background:#1a1a1a;
  color:#fff;
  z-index:9;
  font-size: 0.8125em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}

[data_tip]:hover:after {
  display:block;
}

/**************************************************** MOBILE **************************************************/

#mobile_menu {
  position: relative;
  top:0px;
  left: 0px;
  background: #030303;
  width: 100%;
  padding: 64px 0 0;
  z-index: 0;
  height:100%;
  overflow-x:hidden;
  display: none;
  background-image: url(asset-path('bg/mobile_menu_bg.jpg'));
  background-size: cover;
  }

#mobile_menu h5 {
  padding: 24px 0 0 3.444%;
  font-size: 0.9375em;
  position: absolute;
  top: 0px;
  left: 0px;
}


#open_mobile_menu {
  float: right;
  padding: 5px 8px;
  background: #dfab3e;
  margin: 17px 0;
  border-radius: 3px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  font-size:0.8125em;
  display:none;
  }

#open_mobile_menu .hamburger {
  padding: 3px 6px 1px 0px;
  width: 19px;
  float: left;
}

#open_mobile_menu .hamburger div {
  border-bottom: 2px solid #222;
  margin-bottom: 2px;
}


/************************************************* MISC *****************************************************/

.hidden { display: none; }

#bj {display:none;}



/************************************************************************************************************/

@media screen and (max-width: 1024px) {
  #topright form input[type="submit"] {font-size:11px !important}
}


@media screen and (max-width: 768px) {

  #main {padding-top:64px;}
  .wrapper {padding:0; min-width: initial;}
  #miniheader {margin-top:0px !important; padding: 0 3.444%;  height: 64px;}
  #minilogo { margin: 0 auto; padding: 8px 0 0;}
  #header {display:none;}
  #content {padding: 3.444% 3.444% 0;}
  #content .left {padding:3.444%;}
  .left {width:100%;}
  .right {width:100%; margin-top: 3.444%; }
  #homebox {padding-top:3.444%;}
  #homebox .right {padding: 0 9.017%;}
  #logo {margin-bottom: 2.1289%; display: none;}
  #topmenu {height:initial; overflow: hidden;}
  #topleft {float:none; width:100%; height: auto;}
  #topleft li {}
  #topleft li a {font-size:0.875em;}
  #topright {float: none; width:100%; height: auto; overflow:hidden; padding: 2.1289% 0 0; font-size: 0.875em;}
  #topright form {display:none;}
  #mainmenu {display:none;}
  #footer {display:none;}
  #copyright {display:none;}
  #open_mobile_menu {display:inline;}

  #bj {display:block;}

  a[href*="/casino"] {display:none !important;}

  #social {display:none;}

  #topright form {padding:0; margin: 2.1289% 0;}
  #topright form input {width: 100%; margin: 0.8% 0; height: 32px;}
  #topright form input[type="submit"] {width:100%;}


  #tagarrow {display:none;}
  #topright #usertag {float:left; border-radius:3px;}
  #topleft #community {display:none;}

  h1 {font-size: 1.25em;}
  h2 {font-size: 1em;}
  h3 {font-size:1em;}

  legend {
    margin: 0 0 3.444%;
    font-size: 1em;
  }

  fieldset {
    padding-bottom:10px;
  }

  .left label {
    width:32%;
    font-size:0.875em;
    padding:4px 0;
    line-height:1;
    margin:0 1% 10px;
    text-align:left;
  }

  .left input {
    font-size: 0.875em;
    width: 65%;
    margin-right:1%;
  }

  .tip_wrapper {
    width:66%;
    padding:0;
  }

  [data_tip]:hover:after {
    display:none !important;
  }

  .buttons {margin: 3% 1% 3% 10%;}

  .right .module { display:none; }

  .users .right .module { display:block !important;}

  .tip_wrapper input {
    width:99% !important;
  }

  #content .left li {
    margin-left: 7%;
  }

}

