// Place all the styles related to the casino controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style:none;
  outline:none;
}

img {
  max-width:100%;
}


body {
  background-image: url(asset-path('bg/pokertablebg.jpg'));
  background-repeat: repeat;
  background-position: top center;
  background-size:contain;
  width:100%;
  font-family:calibri, arial;
  color:#fff;

}

.wrapper {
  max-width:1280px;
  min-width:1024px;
  margin:0 auto;
  padding:0 2.128%;
  overflow:hidden;
}

/*********************************************************************** MINI HEADER ********************************************************************************/

#miniheader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 2;
  margin-top:-74px;
  transition: all 0.3s ease-in;
  -webkit-transition:  all 0.3s ease-in;
}

#minilogo {
  width: 152px;
  float: left;
  padding: 1.315% 0;
  display:block;
}

/*********************************************************************** HEADER ********************************************************************************/
#header {
  position:relative;
  padding-top: 2.1289%;
}

#langselect {
  position:absolute;
  right:0px;
}

#topmenu {
  margin-bottom: 1.315%;
  height: 29px;
  width: 100%;
}

#topleft {
  width: 35%;
  float: left;
  padding: 0;
  overflow: hidden;
  height: 29px;
}

#topleft .icon {
  display: block;
  padding: 3px;
  background: #dfab3e;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  float: left;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
}

#topleft li {
  display:inline-block;
}

#topleft li a {
  padding: 0 28px 0 9px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: calibri, arial;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  line-height: 29px;
}

#mobilelogin {
  display:none;
}

#logo {
  text-align: center;
  width: 310px;
  display: block;
  overflow: hidden;
  margin: 0 auto -2.1289%;
}

#topright {
  width: 35%;
  float: right;
  padding: 0;
  height: 29px;
}

#corner {
  position: absolute;
  right: 0;
  top: 0;
  width:16%;
}

.logout {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  display: inline-block;
  text-transform: uppercase;
  float:right;
  margin-left: 30px;
  height:29px;
}

.logout img {
  position: relative;
  padding-left: 8px;
}

.logout span {
  float: left;
  line-height: 29px;
}

/******************************************************************* USER TAG ********************************************************************************/


#topright #usertag {
  float: right;
  background: rgba(255,255,255,0.9);
  color: #222;
  height: 29px;
  line-height: 29px;
  padding: 0 2.1289%;
  text-decoration:none;
  border-radius:3px 0 0 3px;
  font-size:1em;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
}

#usertag > .icon {
  padding: 0px;
  line-height: 0;
  position: relative;
  top: 4px;
  right:2px;
}

#tagarrow {
  float: right;
  background: rgba(255,255,255,1);
  display: block;
  height: 29px;
  width: 29px;
  border-radius: 0 3px 3px 0;
  line-height: 29px;
  text-align: center;
  box-shadow: 1px 1px rgba(0,0,0,0.3);

}

#tagarrow:hover {
  cursor:pointer;
}

#tagmenu {
  position: absolute;
  right: 174px;
  top: 30px;
  background: #fff;
  width: 160px;
  border-radius: 3px 0px 3px 3px;
  padding: 2.1289% 0;
  display:none;
  z-index:10;
}

#tagmenu li {

}

#tagmenu li a {
  color: #333;
  padding: 3.444% 14.591%;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 0.875em;
  margin-bottom: 1px;
}

#tagmenu li a:hover {
  color: #222;
  background:#f2f2f2;
}

#tagmenu .current a {
  color: #222;
  font-weight:bold;
}


/***************************************************************** LOG IN ******************************************************************/

#topright form {
  padding-left:14.591%;
}

#topright form input {
  display: inline-block;
  width: 37%;
  background: rgba(255,255,255,0.99);
  height: 29px;
  font-size: 11px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
  padding: 0 2.128%;
  color: #333;
}

#topright form input[type="submit"] {
  width: 22%;
  border-radius: 3px;
  background: #dfab3e;
  text-transform: uppercase;
  font-size: 0.6875em;
  color: #1e5127;
  font-weight: bold;
  cursor:pointer;
  text-align:center;
  letter-spacing: -0.01em;
}

#topright form input:focus {

}



/********************************************************************* MAIN MENU ************************************************************/

#mainmenu {
  height:44px;
  background:rgba(0,0,0,0.3);
  border-radius:3px;
  margin-bottom:1.315%;
  padding:0 1.315%;
  border:1px solid rgba(0,0,0,0.1);
}

#mainmenu li {
  display:inline-block;
  float:left;
  margin: 0 0.8%;
}

#mainmenu li a {
  color: #f1ca68;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  height: 42px;
  line-height: 44px;
  /*font-family:Corbel;*/
  font-size: 1.0625em;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  display: block;
}

#mainmenu .current a {
  border-radius: 3px;
  text-shadow: none !important;
  background: #dfab3e;
  color: #1e5127 !important;
  margin-top: 6px;
  height: 30px;
  line-height: 32px;
}


/*********************************************************************** CONTENT **************************************************************************************/

#content {
  overflow:hidden;
  width:100%;
}

#content .left {
  background:#fff;
  padding:2.128%;
  border-radius:3px;
  margin-bottom: 2.128%;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

.left {
  float:left;
  width:70.008%;
}

.right {
  float:right;
  width:28.366%;
}

#content a {
  color: #111;
}

#content .left ul {
  margin-bottom:1.315%;
}



#content .left li {
  color:#333;
  margin: 0 0 0.813% 2.128%;
}




/*************************************************************************** FOOTER **********************************************************************************/
#footer {
  background:rgba(0,0,0,0.7);
  padding:2.128% 0;
  overflow:hidden;
}

#footer ul {
  float:left;
  width:24%;
  padding-right: 3.444%;
  height:129px;
}


#footer ul li a {
  color:#eee;
  text-transform:uppercase;
  font-size:0.8125em;
  border-bottom:1px solid #193321;
  padding-bottom:1.315%;
  margin-bottom:1.315%;
  text-decoration:none;
  display:block;
}

#paymentmethods li{
  width: 14%;
  padding-right: 1%;
  display:inline-block;
}

#paymentmethods li a{
  border:none !important;
}

#social li {
  width: 12%;
  padding-right: 1%;
  display:inline-block;
}

#social li a{
  border:none !important;
}




/*************************************************************************** COPYRIGHT **********************************************************************************/

#copyright {
  background:rgba(0,0,0,0.8);
  padding:0.502% 0;
  overflow:hidden;

}

#copyright p {
  text-align: justify;
  padding: 0.310% 2.1289% 0 0;
  font-size: 0.875em;
  color:#eee;
  float:left;
  width:90%;
  margin:0;
}

#copyright .stamp {
  float:left;
  display:block;
  height:36px;
  width:36px;
  margin:0.191% 0.813% 0 0;
}
/**************************************************************************** FONT STYLES *****************************************************************************/

#content .left p {
  color:#333;
  margin-bottom:1.315%;
}

p {

  font-size: 0.9375em;
  color:#fff;
  margin:0;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 2.128%;
  color:#222;
}

h2 {
  text-transform:uppercase;
  margin:3.444% 0 1.315%;
  color:#111;
  font-size:1.25em;

}

h3 {
  font-size: 1.25em;
  margin: 2.1289% 0;
  color:#333;
  font-weight:normal;
}

h4 {
  font-size: 1em;
  margin: 3.444% 0 1.315% 0;
  color:#222;
}

h6 {
  text-transform:uppercase;
  font-size:1.1875em;
  padding-bottom:5.573%;
}

a {
  color: #fff;
}

td {
  color:#333;
}

ul > li > ul > li {
  list-style: initial;
}

.list li {
  list-style: initial;
}



/****************************************************************** MODULES **************************************************************************************/

.right .module {
  background:rgba(0,0,0,0.6);
  overflow:hidden;
  border-radius:2px;
}


.right .module h5  {
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: bold;
  padding:3.444% 5.573%;
  font-size:1em;
  background: rgba(0,0,0,0.4);
}

/****************************************************************** FORMS AND BUTTONS **************************************************************************************/

fieldset {
  width:100%;
}

legend {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin-bottom: 2.1289%;
  color: #1e5127;
  font-weight: bold;
  font-size: 1.0625em;
}


.left label {
  color: #333;
  float: left;
  width: 30%;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 0.9375em;
  font-weight: normal;
  text-align: right;
  padding: 0 1.315% 0;
  text-transform: initial;
  margin:0 0 10px;
}


.left input {
  border: 1px solid #bbb;
  padding: 3px 5px;
  background: #eee;
  width: 40%;
  margin: 0 0 10px;
  font-family:calibri;
  display: block;
  height: 30px;
  float:left;
  margin-right:30%;
  font-size:0.875em;

}

.tip_wrapper {
  position: relative;
  overflow: hidden;
  float: left;
  width: 70%;
  padding-right: 30%;
}

.tip_wrapper input {
  width:100%;
  margin-right:0;
}

.left textarea {
  border: 1px solid #bbb;
  padding: 3px 5px;
  background: #eee;
  width: 40%;
  margin: 0 0 10px;
  font-family:calibri;
  display: block;
  height: 120px;
  float:left;
  margin-right:30%;
  font-size: 0.875em;
}

.left input[type="submit"] {

  background: #dfab3e;
  color: #222;
  font-weight:bold;
  text-transform: uppercase;
  float: right;
  width: initial;
  cursor: pointer;
  padding: 0 5.573%;
  height:30px;
  margin:0;
  font-size:0.8125em;
  border:1px solid #444;
}

.left input[readonly="readonly"] {
  background: none;
  border: none;
  font-size:0.9375em;
  font-weight:bold;
}


.button {
  background: #dfab3e;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  color: #222 !important;
  border: 1px solid #333333;
  padding: 6px 12px;
  margin: 0;
  font-family: calibri;
  display: block;
  font-size:0.8125em;
  text-decoration:none;
}

.button:active, .cancel:active, input[type="submit"]:active {
  position:relative;
  top:1px;
}

.buttons {
  margin:0 30%;
}

.cancel {
  background: #ae4f50;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  color: #fff !important;
  border: 1px solid #8c2d30;
  padding: 6px 5.573%;
  margin: 0;
  font-family: calibri;
  display: block;
  font-size: 0.8125em;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.disabled {
  background: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  color: #222;
  border: 1px solid #333;
  padding: 6px 5.573%;
  margin: 0;
  font-family: calibri;
  display: block;
  font-size: 0.8125em;
}

.disabled:hover {
  cursor:default;
}

/******************************************************************* FORMS ERRORS *******************************************************************************/

.field_with_errors input {
  border-width: 1px;
  border-color: #ae6f6f;
}

.field_with_errors label {
  color: #ae4f50;
  font-style: italic;
}

/****************************************************************** FONT FACE **************************************************************************************/



/****************************************************************** ALERTS **************************************************************************************/



.debug_dump {
  color:#222;
  background:#dbdbdb;
  border:1px solid #c0c0c0;
  padding:2.1289%;
}

#error, .alert {
  background:#eededf;
  color:#ae4f50;
  border:1px solid #ae4f50;
  border-radius: 1px;
  padding: 3px 5px;
  margin-bottom: 2.1289%;
}

#error_explanation li {
  font-size:0.875em;
  color: #e11414 !important;
  list-style: initial;
  margin-top: 0.813% !important;
}

#notice {
  color: #376130;
  background: #def1d9;
  padding: 0.813%;
  border: 1px solid #598350;
  margin-bottom:2.1289%;

}


/************************************************** TOOL TIPS *******************************************************/

[data_tip] {
  position:relative;

}

[data_tip]:after {
  display:none;
  content:attr(data_tip);
  position:absolute;
  right:0px;
  padding:5px 8px;
  background:#1a1a1a;
  color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}

[data_tip]:hover:after {
  display:block;
}

/**************************************************** TABLES **************************************************/



/************************************************* MISC *****************************************************/

.hidden { display: none; }


@media screen and (min-width: 320px) and (max-width: 480px) {

  .wrapper {padding:0;}
  #miniheader {margin-top:0px !important; background: rgba(0, 0, 0, 0.9); padding: 0 3.444%; position: fixed;}
  #mobile_menu {float:left;padding: 5.573% 0 3.444%; width: 20%;}
  #minilogo {padding: 5.573% 0 3.444%; margin: 0 auto; float: left; width: 60%; text-align: center;}
  #header {padding:3.444% 3.444% 2.12%;}
  .wrapper {min-width:inherit;}
  #content {padding: 0 3.444%;}
  #content .left {padding:3.444%;}
  .left {width:100%;}
  .right {width:100%; margin-top: 3.444%; }
  #homebox .right {padding: 0 3.444%;}
  #logo {margin-bottom: 2.1289%; display: none;}
  #topmenu {height:initial; overflow: hidden;}
  #topleft {float:none; width:100%; height: auto;}
  #topleft li {}
  #topleft li a {font-size:0.875em;}
  #topright {float: none; width:100%; height: auto; overflow:hidden; padding: 2.1289% 0 0; font-size: 0.875em;}
  #topright form {display:none;}
  #mobilesignin {float:right;}
  #mobilesignin .icon {float:right;}
  #mobilesignin a {padding: 0 9px !important;}
  #mainmenu {display:none;}
  #footer {display:none;}
  #copyright {display:none;}

  #topright form {padding:0; margin: 2.1289% 0;}
  #topright form input {width: 100%; margin: 0.8% 0; height: 32px;}
  #topright form input[type="submit"] {width:100%;}


  #tagarrow {display:none;}
  #topright #usertag {float:left; border-radius:3px;}
  #topleft #community {display:none;}

  h1 {font-size: 1.25em;}
  h2 {font-size: 1em;}




}