// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#phone {
  padding-right: 2.1289%;
 width: 29%;
}

#phone li {

font-size:1em;
font-weight: bold;
}

#chat {
  border-left: 1px solid #dbdbdb;
  padding: 0 2.1289%;
  width: 35%;
}
#inquiry {
  border-left: 1px solid #dbdbdb;
  padding-left: 2.1289%;
  width: 35%;

}


#content table {
  width:100%;
}

#content td {
  display:inline-block;
}

#content td p {
  font-size:0.875em;
}



#new_inquiry {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 5.573%;


}


/********************************************************************* TICKET TABLE *******************************************************************/

#tickets {
  margin-bottom: 5.573%;
}

#tickets tr td {
  padding: 0.813% 2.1289% 0.813% 2.1289%;
  font-size:0.875em;
}

.tabletop td {
  background:#2b2f2f;
  color:#fff;
  text-transform: uppercase;
  font-size: 0.8125em !important;
  padding: 0.502% 2.1289% !important;
}

#tickets tr td:nth-child(1) {
width:13%;
}

#tickets tr td:nth-child(2) {
  width:42%;
}

#tickets tr td:nth-child(3) {
  width:11%;
}

#tickets tr td:nth-child(4) {
  width:22%;
}

#tickets tr td:nth-child(5){
  width:12%;
  text-align:center;
}

#tickets #none {
  width:100%;
}

#tickets .status {
  font-weight:bold;
}

tr.odd {
  background: #e9e9e9;
}

tr.even {
  background: #f4f4f4;
}

.see_ticket {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}


/********************************************************************* TICKET DETAILS *******************************************************************/

#ticket_detail {
  margin-bottom: 3.444%;
}

#ticket_detail td {
  width:33.33%;
  padding: 0 2.1289%;
  font-size:0.875em;
}

/*********************************************************************** ENTRIES ********************************************************************/

.entrywrap {
  overflow:hidden;
  width:100%;
  color:#222;
  margin-bottom:1.315%;
}

.entrywrap .user {
  background: #dcf8c6;
  border-radius:3px;
  padding:2.12%;
  float: left;
  min-width: 61.8%;
  max-width:80%;
  margin: 2px;
  border:1px solid #598352 ;
}

.entrywrap .employee {
  background: #f8c6c6;
  border-radius:3px;
  padding:2.12%;
  float: right;
  min-width: 61.8%;
  max-width:80%;
  margin: 2px;
  border:1px solid #cf6f72;
}

.entrywrap .author {
  font-weight:bold;
}

.entrywrap .date {
  text-align:right;
  font-size:0.875em;
  font-style: italic;
  padding: 0.502% 0 0 0;
}

.entrywrap .user .date {
  color: #376130;
}

.entrywrap .employee .date {
  color: #ae4f50;
}

/*********************************************************** ENTRIES FORM ****************************************************************/

#new_entry {
  margin: 3.444% 0 0;
  width: 61%;
  overflow: hidden;
  float: left;
}

#new_entry label {
  width:100%;
  text-align:left;
  margin:0;
}

#new_entry textarea {
  width:100%;
  margin:0;
  height:150px;
}

#new_entry .buttons {
  padding: 2.12% 0 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
}