// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#phone {
  padding-right: 2.1289%;
 width: 29%;
}

#phone li {

  font-size: 1em !important;
  font-weight: bold;
  margin-left: 0 !important;
  list-style: none !important;
}

#chat {
  border-left: 1px solid #dbdbdb;
  padding: 0 2.1289%;
  width: 35%;
}
#inquiry {
  border-left: 1px solid #dbdbdb;
  padding-left: 2.1289%;
  width: 35%;

}


#content table {
  width:100%;
}

.inquiries td {
  display:inline-block;
  vertical-align: top;
}

#content td p {
  font-size:0.875em;
}



#new_inquiry {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 5.573%;


}


/********************************************************************* FAQ *******************************************************************/

.ui-accordion-header {
  border-radius: 3px;
  padding: 4px 9px;
  margin: 0 0 2px;
  font-weight: normal;
  font-size: 0.9375em;
  border: 1px solid #dbdbdb;
  color: #222;
}

.ui-accordion-header:hover {
  cursor:pointer;
}

.accordion p {
  padding: 9px;
}

.ui-accordion-header[aria-selected="false"] {
  background-image: url(asset-path('icons/plus.png'));
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f1f1f1;
}

.ui-accordion-header[aria-selected="true"] {
  background-image: url(asset-path('icons/minus.png'));
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f1f1f1;
}

/********************************************************************* TICKET TABLE *******************************************************************/

.usertickets {
  margin-bottom: 5.573%;
}

.tickets tr td {
  padding: 0.813% 2.1289% 0.813% 2.1289%;
  font-size:0.875em;
}

.tabletop td {
  background:#2b2f2f;
  color:#fff;
  text-transform: uppercase;
  font-size: 0.75em !important;
  padding: 0.502% 2.1289% !important;
}

.usertickets tr td:nth-child(1) {
width:15%;
}

.usertickets tr td:nth-child(2) {
  width:44%;
}


.usertickets tr td:nth-child(3) {
  width:27%;
}

.usertickets tr td:nth-child(4){
  width:14%;
  text-align:center;
  color:#2b2f2f;
}

.usertickets #none {
  width:100%;
}

tr.odd {
  background: #e9e9e9;
}

tr.even {
  background: #f4f4f4;
}

.see_ticket {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}


/********************************************************************* TICKET CENTER *******************************************************************/

.ticketcenter tr td:nth-child(1) {
  width:13%;
}

.ticketcenter tr td:nth-child(2) {
  width:36%;
}


.ticketcenter tr td:nth-child(3) {
  width:13%;
  font-weight: bold;
}

.ticketcenter tr td:nth-child(4) {
  width:25%;
}

.ticketcenter tr td:nth-child(5){
  width:13%;
  text-align:center;
  color:#2b2f2f;
}

/*********************************************************************** HISTORY ********************************************************************/

.right #history {
  padding:5.573%;
  overflow:hidden;
  background-image: url(asset-path('blacks/black60.png'));
  background-repeat: repeat;
}

#history li {
  padding:0 5px;
}

#history a {
  text-decoration: none;
  width: 100%;
  display: block;
}

#history li.odd {
  background:rgba(255,255,255,0.08)
}

/*********************************************************************** ENTRIES ********************************************************************/

.entrywrap {
  overflow:hidden;
  width:100%;
  color:#222;
  margin-bottom:1.315%;
}

.entrywrap .user {
  background: #dcf8c6;
  border-radius:3px;
  padding:2.12%;
  float: left;
  min-width: 61.8%;
  max-width:80%;
  margin: 2px;
  border:1px solid #598352 ;
}

.entrywrap .employee {
  background: #f8c6c6;
  border-radius:3px;
  padding:2.12%;
  float: right;
  min-width: 61.8%;
  max-width:80%;
  margin: 2px;
  border:1px solid #cf6f72;
}

.entrywrap .author {
  font-weight:bold;
}

.entrywrap .date {
  text-align:right;
  font-size:0.875em;
  font-style: italic;
  padding: 0.502% 0 0 0;
}

.entrywrap .user .date {
  color: #376130;
}

.entrywrap .employee .date {
  color: #ae4f50;
}

/*********************************************************** ENTRIES FORM ****************************************************************/

#new_entry {
  margin: 3.444% 0 0;
  width: 61%;
  overflow: hidden;
  float: left;
}

#new_entry label {
  width:100%;
  text-align:left;
  margin:0;
}

#new_entry textarea {
  width:100%;
  margin:0;
  height:150px;
}

#new_entry .buttons {
  padding: 2.12% 0 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
}


@media screen and (max-width: 768px) {
  #inquiry {  width:100% !important; border-left:0px; padding:2.1289% 0 3.444%;}
  #phone {width:100% !important; padding: 2.1289% 0 3.444%;}
  #phone li {float:left; width:100%;font-weight: normal;font-size: 14px !important;}

  #chat {
    width: 100%;
    border: 0px;
    padding: 0 0 15px;
  }

  #tickets tr td:nth-child(1) {
    width:22%;
  }

  #tickets tr td:nth-child(2) {
    width:60%;
  }

  #tickets tr td:nth-child(3) {
    width:18%;
  }

  #tickets tr td:nth-child(4) {
    display:none;
  }

  #tickets tr td:nth-child(5){
    display:none;
  }

  #new_entry{
    width:100%;
  }

  .usertickets tr td:nth-child(1) {
    width:30%;
  }

  .usertickets tr td:nth-child(2) {
    width:70%;
  }


  .usertickets tr td:nth-child(3) {
    display:none;
  }

  .usertickets tr td:nth-child(4){
    display:none;
  }

}