// Place all the styles related to the Lotteries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lotteries .left {

  padding: 0 !important;
}


#lottery_frame {
  min-height: 472px;
}

#lottery_results_frame {
  height: 324px;
  border-radius: 0 0 3px 3px;
}

#lottery_off {
  width:100%;
  min-height: 472px;
  background-image: url(asset-path('bg/lottery.png'));
  background-repeat: no-repeat;
  background-position: center 35px;
  background-size: cover;
}

#lottery_off span {
  background: #eededf;
  color: #ae4f50;
  border: 1px solid #ae4f50;
  padding: 6px 12px;
  display: block;
  margin: 2px;
}


@media screen and (max-width: 768px) {
  #lottery_off {
    background-image: url(asset-path('bg/lottery_mobile.png'));
    background-position: center 39px;
  }

}