// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#providers {
  padding: 2.12% 5.573%;
  overflow: hidden;
  background-image: url(asset-path('blacks/black60.png'));
  background-repeat: repeat;
}

#providers li {
  border-bottom: 1px solid #193321;
  padding: 3.444% 0;
  overflow:hidden;
}

#providers li span {
  font-size:0.875em;
}

#providers li>a {
  margin:8px 0;
}

#providers li:last-child {
  border-bottom:0;
}

#providers li>img {
  width: 40px;
  padding: 4px 6px 0 0;
  float:left;
}

#providers li span>img {
  float: left;
  padding-right: 3.444%;
}

#cashier_frame {
  height: 615px;
}

@media screen and (max-width: 568px) {
 #cashier_frame {
   height: 400px;
 }

}