// Place all the styles related to the race_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.race_games .left {

  width:100%;
  padding: 0 !important;
}

#race_frame {
  min-height:650px;
}

@media screen and (max-width: 568px) {
  #race_frame {
    height: 568px;
  }

}