// Place all the styles related to the SportGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sport_games .left {

  width:100%;
  padding: 0 !important;
}

#sport_frame {
  height: 1200px;
}

@media screen and (max-width: 568px) {
  #sport_frame {
    height: 568px;
  }

}