// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#gender {
  float:left;
  width:40%;
  margin:0 30% 10px 0;
  overflow:hidden;
}

#gender label {
  width: 43%;
  margin: 0;
  text-align: center;
  float:right;
}

#gender input[type="radio"] {
  width: 7%;
  margin: 0;
  overflow: hidden;
  display: block;
  float:right;
  background:none;
  border:none;
  padding:0;
}

.terms {
  margin: 0 30% 12px 30%;
  font-size: 0.9375em;
  overflow:hidden;
}

#user_terms_of_service {
  width:6%;
  margin:0;
  padding: 0;
  background: none;
  border: none;
}

.terms p {
  float: left;
  width: 94%;
  padding: 0 0 0 2.1289%;
  margin:0;
  line-height:30px;
}

/*
#gender input[type="radio"] + label {
  font-family:Arial, sans-serif;
  font-size:14px;
  display:inline-block;
  height:23px;
  line-height:23px;
  margin:0;
  color:#fff;
  cursor:pointer;
  text-align:center;
  background-color:blue;
  width: 50%;

}


#gender input[type="radio"]:checked + label {
  background-color:orange;
}
*/
/********************************************** BALANCE *****************************************************************/


.right #balance {
  padding:5.573%;
  overflow:hidden;
}

.right #balance p {
  font-size: 2em;
  text-align: center;
  margin-bottom: 5.573%;
  font-family:Calibri, Arial;
}

.right #balance #cashier {
  display:block;
  margin:0 auto;
  width:61.804%;
  padding:2.1289% 0;
  text-align:center;
  color:#222;
  text-decoration: none;
  text-transform:uppercase;
  font-weight:bold;
  background: #dfab3e;
  border-radius:2px;
}

.right #balance #cashier:active {
  position:relative;
  top:1px;
}



/********************************************** CONTROL PANEL *****************************************************************/

#controlpanel a {
  float:left;
  display:block;
  padding:2.1289%;
  background:#f1f1f1;
  text-align:center;
  text-decoration: none;
  border:1px solid #d0d0d0;
  width:120px;
}

#controlpanel span {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  padding-top:3.444%
}


@media screen and (max-width: 568px) {

  #controlpanel a {
    width: 100%;
    text-align: left;
    border-radius:3px;
    padding:2.12% 5.573%;
  }

  #controlpanel span {
    text-transform: none;
    padding: 0;
    font-size:1em;
    font-weight:normal;
  }

  #controlpanel img {
    display: none;
  }

  #gender {
    margin: 0 1% 10px 0;
    width: 65%;
  }

  #gender label {
    margin: 0 0 0 4%;
    width: 38%;
  }

  .terms {
    margin: 0 2% 12px;
  }



}