// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_user input[type="radio"] {

  width:50%;
  float:left;
  background:#1e5127;
}

/********************************************** BALANCE *****************************************************************/

.right #balance {
  background: #222;
  background:rgba(0,0,0,0.6);
  padding: 5.573%;
  overflow:hidden;
}

.right #balance span {
  text-transform: uppercase;
  color: #dfab3e;
  width: 100%;
  display: block;
  margin-bottom: 1.315%;
  font-weight: bold;
}

.right #balance p {
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 3.444%;
}

.right #balance a {
  float:left;
  width:48%;
  padding:2.1289% 0;
  text-align:center;
  color:#222;
text-decoration: none;
  text-transform:uppercase;
  font-weight:bold;
  background: #dfab3e;
}

.right #balance #deposit {
margin-right:4%;
}

.right #balance #withdraw {

}


/********************************************** CONTROL PANEL *****************************************************************/

#controlpanel a {
  float:left;
  display:block;
  padding:2.1289%;
  background:#f1f1f1;
  text-align:center;
  text-decoration: none;
  border:1px solid #d0d0d0;
  width:120px;
}

#controlpanel span {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  padding-top:3.444%
}

