<div id="copyright">
    <div class="wrapper">

            <p><strong>La Funda</strong> es una marca registrada de <a href="http://www.kinbar.com.do" target="_blank" style="color:#fff;">Kinbar International, SRL</a>.
              Operamos bajo una licencia autorizada y regulada por la Dirección de Casinos y Juegos de Azar del Ministerio de Hacienda de la República Dominicana. RNC 130882878. Av. Gustavo Mejía Ricart #94, Edif. Kinbar International, Naco, Santo Domingo, RD. Todos los derechos reservados.</p>

         <%= link_to image_tag(asset_path("bg/haciendalogo.png")), "http://www.hacienda.gov.do", target: '_blank', class: 'stamp' %>
         <%= link_to image_tag(asset_path("bg/18.png")), responsible_path, class: 'stamp' %>


    </div>
</div>

