<div id="miniheader">
  <div class="wrapper">
    <div class="corner"></div>
    <%= link_to image_tag(asset_path("minilogo.png")), root_path, id: "minilogo" %>
    <div class="corner">
      <a href="#all" id="open_mobile_menu">
        <div class="hamburger">
          <div></div>
          <div></div>
          <div style="margin:0;"></div>
        </div>
        <%= t('views.menu') %>
      </a>
    </div>
  </div>
</div>
