<div id="miniheader">
  <div class="wrapper">
    <%= link_to image_tag(asset_path("icons/menu_icon.png")), '#', id: "open_mobile_menu" %>
    <%= link_to image_tag(asset_path("minilogo2.png")), root_path, id: "minilogo" %>
  </div>
</div>
