<div id="miniheader">
  <div class="wrapper">
    <div class="corner">
      <% if mobile_device? %>
        <div id="open_mobile_menu">
          <div class="hamburger">
            <div></div>
            <div></div>
            <div style="margin:0;"></div>
          </div>
          <%= t('views.menu') %>
        </div>
      <% end %>
    </div>
    <%= link_to image_tag(asset_path("minilogo.png")), root_path, id: "minilogo" %>
    <div class="corner"></div>
  </div>
</div>
