<div id="miniheader">
  <div class="wrapper">
    <%= link_to t('views.menu'), '#', id: "open_mobile_menu" %>
    <%= link_to image_tag(asset_path("minilogo.png")), root_path, id: "minilogo" %>
  </div>
</div>
